[Desktop Entry]
Name=My Not Inst App 2
Name[nl]=Mijn niet geïnstalleerde app 2
Name[pt]=A Minha Aplicação Não Instalada 2
Name[pt_BR]=Meu aplicativo não instalado 2
Name[sl]=Moj program, ki ni nameščen 2
Name[sv]=Min inte installerade applikation 2
Name[uk]=Ще одна невстановлена програма
Name[x-test]=xxMy Not Inst App 2xx
Exec=mynotinstdapp2 %c
Icon=mynotinstdapp2
Type=Application
GenericName=The second never installed app
GenericName[nl]=De tweede nooit geïnstalleerde app
GenericName[pt]=A segunda aplicação nunca instalada
GenericName[pt_BR]=Segundo aplicativo nunca instalado
GenericName[sl]=Drugi nikoli nameščen program
GenericName[sv]=Den andra aldrig installerade applikationen
GenericName[uk]=Друга ніколи не встановлювана програма
GenericName[x-test]=xxThe second never installed appxx
Terminal=false
Categories=Qt;KDE;System;
