[Desktop Entry]
Categories=Utility;Filesystem;Qt;KDE;
Encoding=UTF-8
Name=ANGRYsearch
Name[ca]=ANGRYsearch
Name[ca@valencia]=ANGRYsearch
Name[da]=ANGRYsearch
Name[eu]=ANGRYsearch
Name[it]=ANGRYsearch
Name[nl]=ANGRYsearch
Name[pt]=ANGRYsearch
Name[sr]=Љутита претрага
Name[sr@ijekavian]=Љутита претрага
Name[sr@ijekavianlatin]=Ljutita pretraga
Name[sr@latin]=Ljutita pretraga
Name[sv]=ANGRYsearch
Name[uk]=ANGRYsearch
Name[x-test]=xxANGRYsearchxx
GenericName=Linux file search, instant results as you type
GenericName[ca]=Cerca de fitxers Linux, resultats instantanis a mesura que s'escriu
GenericName[ca@valencia]=Busca de fitxers Linux, resultats instantanis a mesura que s'escriu
GenericName[da]=Linux-filsøgning, øjeblikkelige resultater mens du taster
GenericName[eu]=Linux fitxategi bilaketa, berehalako emaitzak idatzi ahala
GenericName[it]=Ricerca file per Linux, risultati immediati mentre digiti
GenericName[nl]=Linux bestandszoeken, instantaan resultaat terwijl u typt
GenericName[pt]=Pesquisa de ficheiros no Linux - resultados instantâneos à medida que escreve
GenericName[sr]=Претрага фајлова за Линукс, тренутни резултати док куцате
GenericName[sr@ijekavian]=Претрага фајлова за Линукс, тренутни резултати док куцате
GenericName[sr@ijekavianlatin]=Pretraga fajlova za Linux, trenutni rezultati dok kucate
GenericName[sr@latin]=Pretraga fajlova za Linux, trenutni rezultati dok kucate
GenericName[sv]=Linux filsökning, omedelbara resultat medan du skriver
GenericName[uk]=Пошук файлів у Linux, негайні результати під час введення даних
GenericName[x-test]=xxLinux file search, instant results as you typexx
Type=Application
Exec=/usr/bin/angrysearch.py
Icon=/usr/share/angrysearch/angrysearch.svg

