[Desktop Entry]
Categories=Utility;Filesystem;Qt;KDE;
Encoding=UTF-8
Name=ANGRYsearch
Name[ca]=ANGRYsearch
Name[eu]=ANGRYsearch
Name[nl]=ANGRYsearch
Name[pt]=ANGRYsearch
Name[sv]=ANGRYsearch
Name[uk]=ANGRYsearch
Name[x-test]=xxANGRYsearchxx
GenericName=Linux file search, instant results as you type
GenericName[ca]=Cerca de fitxers Linux, resultats instantanis a mesura que s'escriu
GenericName[eu]=Linux fitxategi bilaketa, berehalako emaitzak idatzi ahala
GenericName[nl]=Linux bestandszoeken, instantaan resultaat terwijl u typt
GenericName[pt]=Pesquisa de ficheiros no Linux - resultados instantâneos à medida que escreve
GenericName[sv]=Linux filsökning, omedelbara resultat medan du skriver
GenericName[uk]=Пошук файлів у Linux, негайні результати під час введення даних
GenericName[x-test]=xxLinux file search, instant results as you typexx
Type=Application
Exec=/usr/bin/angrysearch.py
Icon=/usr/share/angrysearch/angrysearch.svg

