[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Catfish
Name[ca]=Catfish
Name[de]=Catfish
Name[en_GB]=Catfish
Name[es]=Catfish
Name[fi]=Catfish
Name[gl]=Catfish
Name[nl]=Catfish
Name[pl]=Sum
Name[pt]=Catfish
Name[pt_BR]=Catfish
Name[sk]=Sumec
Name[sv]=Catfish
Name[uk]=Catfish
Name[x-test]=xxCatfishxx
Comment=File search
Comment[ca]=Cerca de fitxers
Comment[de]=Dateisuche
Comment[en_GB]=File search
Comment[es]=Búsqueda de archivos
Comment[fi]=Tiedostohaku
Comment[gl]=Busca de ficheiros.
Comment[nl]=Bestanden zoeken
Comment[pl]=Wyszukiwanie plików
Comment[pt]=Pesquisa de ficheiros
Comment[pt_BR]=Pesquisa de arquivos
Comment[sk]=Hľadanie súborov
Comment[sv]=Filsökning
Comment[uk]=Пошук файлів
Comment[x-test]=xxFile searchxx
Categories=GTK;Utility;Filesystem;
Exec=catfish
Icon=catfish
Terminal=false
StartupNotify=true

