[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Catfish
Name[ast]=Catfish
Name[ca]=Catfish
Name[ca@valencia]=Catfish
Name[da]=Catfish
Name[de]=Catfish
Name[el]=Catfish
Name[en_GB]=Catfish
Name[es]=Catfish
Name[et]=Catfish
Name[fi]=Catfish
Name[gd]=Catfish
Name[gl]=Catfish
Name[it]=Catfish
Name[ko]=Catfish
Name[nb]=Catfish
Name[nl]=Catfish
Name[nn]=Catfish
Name[pl]=Sum
Name[pt]=Catfish
Name[pt_BR]=Catfish
Name[ru]=Catfish
Name[sk]=Sumec
Name[sl]=Catfish
Name[sr]=Катфиш
Name[sr@ijekavian]=Катфиш
Name[sr@ijekavianlatin]=Catfish
Name[sr@latin]=Catfish
Name[sv]=Catfish
Name[tr]=Catfish
Name[uk]=Catfish
Name[x-test]=xxCatfishxx
Name[zh_CN]=Catfish
Name[zh_TW]=Catfish
Comment=File search
Comment[ast]=Gueta de ficheros
Comment[ca]=Cerca de fitxers
Comment[ca@valencia]=Cerca de fitxers
Comment[da]=Filsøgning
Comment[de]=Dateisuche
Comment[el]=Αναζήτηση αρχείων
Comment[en_GB]=File search
Comment[es]=Búsqueda de archivos
Comment[et]=Failiotsing
Comment[fi]=Tiedostohaku
Comment[gd]=Lorg fhaidhlichean
Comment[gl]=Busca de ficheiros.
Comment[ia]=Cerca de file
Comment[it]=Ricerca file
Comment[ko]=파일 검색
Comment[nb]=Filsøk
Comment[nl]=Bestanden zoeken
Comment[nn]=Filsøk
Comment[pl]=Wyszukiwanie plików
Comment[pt]=Pesquisa de ficheiros
Comment[pt_BR]=Pesquisa de arquivos
Comment[ru]=Поиск файлов
Comment[sk]=Hľadanie súborov
Comment[sl]=Iskanje datotek
Comment[sr]=Претрага фајлова
Comment[sr@ijekavian]=Претрага фајлова
Comment[sr@ijekavianlatin]=Pretraga fajlova
Comment[sr@latin]=Pretraga fajlova
Comment[sv]=Filsökning
Comment[tr]=Dosya araması
Comment[uk]=Пошук файлів
Comment[x-test]=xxFile searchxx
Comment[zh_CN]=文件搜索
Comment[zh_TW]=開啟檔案搜尋
Categories=GTK;Utility;Filesystem;
Exec=catfish
Icon=catfish
Terminal=false
StartupNotify=true

