[Desktop Entry]
Name=Catfish File Search
Name[ca]=Cerca de fitxers Catfish
Name[ca@valencia]=Busca de fitxers Catfish
Name[cs]=Vyhledávač souborů Catfish
Name[da]=Catfish-filsøgning
Name[es]=Búsqueda de archivos de Catfish
Name[eu]=Catfish fitxategi bilaketa
Name[fr]=Recherche de fichiers Catfish
Name[it]=Ricerca file Catfish
Name[nl]=Bestanden zoeken met Catfish
Name[pt]=Pesquisa de Ficheiros Catfish
Name[ru]=Catfish
Name[sr]=Катфиш
Name[sr@ijekavian]=Катфиш
Name[sr@ijekavianlatin]=Catfish
Name[sr@latin]=Catfish
Name[sv]=Catfish filsökning
Name[uk]=Пошук файлів Catfish
Name[x-test]=xxCatfish File Searchxx
Name[zh_CN]=Catfish 文件搜素
Name[zh_TW]=Catfish 檔案搜尋
GenericName=File search
GenericName[ca]=Cerca de fitxers
GenericName[ca@valencia]=Busca de fitxers
GenericName[cs]=Hledání souboru
GenericName[da]=Filsøgning
GenericName[es]=Búsqueda de archivos
GenericName[eu]=Fitxategi bilaketa
GenericName[fr]=Recherche de fichiers
GenericName[it]=Ricerca file
GenericName[nl]=Bestanden zoeken
GenericName[pt]=Pesquisa de ficheiros
GenericName[ru]=Поиск файлов
GenericName[sr]=Претрага фајлова
GenericName[sr@ijekavian]=Претрага фајлова
GenericName[sr@ijekavianlatin]=Pretraga fajlova
GenericName[sr@latin]=Pretraga fajlova
GenericName[sv]=Filsökning
GenericName[uk]=Пошук файлів
GenericName[x-test]=xxFile searchxx
GenericName[zh_CN]=文件搜索
GenericName[zh_TW]=檔案搜尋
Comment=Search the file system
Comment[ca]=Cerca al sistema de fitxers
Comment[ca@valencia]=Busca al sistema de fitxers
Comment[cs]=Prohledávat souborový systém
Comment[da]=Søg i filsystemet
Comment[es]=Buscar en el sistema de archivos
Comment[eu]=Bilatu fitxategi sisteman
Comment[fr]=Rechercher dans le système de fichiers
Comment[it]=Cerca nel file system
Comment[nl]=Doorzoek het bestandssysteem
Comment[pt]=Pesquisa no sistema de ficheiros
Comment[ru]=Поиск в файловой системе
Comment[sr]=Претражујте фајл систем
Comment[sr@ijekavian]=Претражујте фајл систем
Comment[sr@ijekavianlatin]=Pretražujte fajl sistem
Comment[sr@latin]=Pretražujte fajl sistem
Comment[sv]=Sök i filsystemet
Comment[uk]=Пошук у файловій системі
Comment[x-test]=xxSearch the file systemxx
Comment[zh_CN]=搜索文件系统
Comment[zh_TW]=搜尋檔案系統
Categories=GNOME;Utility;Filesystem;
Exec=catfish
Icon=catfish
Terminal=false
Type=Application

