[Desktop Entry]
Name=Peek
Name[ca]=Peek
Name[ca@valencia]=Peek
Name[da]=Peek
Name[es]=Peek
Name[eu]=Peek
Name[it]=Peek
Name[nl]=Bekijken
Name[pt]=Peek
Name[sr]=Пик
Name[sr@ijekavian]=Пик
Name[sr@ijekavianlatin]=Peek
Name[sr@latin]=Peek
Name[sv]=Kika
Name[uk]=Peek
Name[x-test]=xxPeekxx
Exec=peek
GenericName=Animated GIF recorder
GenericName[ca]=Enregistrador de GIF animats
GenericName[ca@valencia]=Gravadora de GIF animats
GenericName[da]=Optagelse af animerede GIF'er
GenericName[es]=Grabador de GIF animados
GenericName[eu]=GIF bizidun grabatzailea
GenericName[fr]=Enregistreur de GIF animée
GenericName[it]=Registratore di GIF animate
GenericName[nl]=Opnemer voor geanimeerd GIF
GenericName[pt]=Gravador de GIF's animados
GenericName[sr]=Снимач анимираних ГИФ‑ова
GenericName[sr@ijekavian]=Снимач анимираних ГИФ‑ова
GenericName[sr@ijekavianlatin]=Snimač animiranih GIF‑ova
GenericName[sr@latin]=Snimač animiranih GIF‑ova
GenericName[sv]=Inspelning av animerade GIF
GenericName[uk]=Засіб запису анімованих GIF
GenericName[x-test]=xxAnimated GIF recorderxx
Comment=Record short animated GIF images from your screen
Comment[ca]=Enregistra imatges GIF animades curtes de la pantalla
Comment[ca@valencia]=Grava imatges GIF animades curtes de la pantalla
Comment[da]=Optag korte animerede GIF-billeder fra din skærm
Comment[es]=Grabar breves imágenes GIF animadas de la pantalla
Comment[eu]=Grabatu GIF bizidun irudi laburrak zure pantailatik
Comment[fr]=Enregistre votre écran dans de courtes animations GIF
Comment[it]=Registra immagini GIF con brevi animazioni dal tuo schermo
Comment[nl]=Korte geanimeerde GIF afbeeldingen vanaf uw scherm opnemen
Comment[pt]=Grava pequenas imagens GIF animadas no seu ecrã
Comment[sr]=Снимајте кратке анимиране ГИФ слике са екрана
Comment[sr@ijekavian]=Снимајте кратке анимиране ГИФ слике са екрана
Comment[sr@ijekavianlatin]=Snimajte kratke animirane GIF slike sa ekrana
Comment[sr@latin]=Snimajte kratke animirane GIF slike sa ekrana
Comment[sv]=Spela in korta animerade GIF-bilder från skärmen
Comment[uk]=Записує короткі анімовані зображення GIF з вашого екрана
Comment[x-test]=xxRecord short animated GIF images from your screenxx
Icon=com.uploadedlobster.peek
Type=Application
Categories=Utility;X-SuSE-DesktopUtility;
StartupNotify=true
Terminal=false
DBusActivatable=true

