[Desktop Entry]
X-SuSE-DocTeamID=ycc_disk
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-System;

X-KDE-HasReadOnlyMode=true
X-SuSE-YaST-Call=disk

X-SuSE-YaST-Group=System
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstResource=

Icon=yast-disk
Exec=xdg-su -c "/sbin/yast2 disk"

Name=Partitioner
Name[ca]=Particionador
Name[es]=Particionador
Name[fi]=Osiointityökalu
Name[it]=Partizionatore
Name[nl]=Programma voor partitionering
Name[pt]=Gestor de Partições
Name[pt_BR]=Particionador
Name[sk]=Správca partícií
Name[sl]=Razdeljevalnik
Name[sv]=Partitioner
Name[uk]=Partitioner
Name[x-test]=xxPartitionerxx
Name[zh_CN]=分区管理
GenericName=Partition hard disks (including RAID, LVM, and encrypted file systems)
GenericName[ca]=Particiona discs durs (incloent RAID, LVM, i sistemes de fitxers encriptats)
GenericName[es]=Hacer particiones en discos duros (incluidos RAID, LVM y sistemas de archivos cifrados)
GenericName[fi]=Osioi kiintolevyjä (mukaan lukien RAID, LVM ja salatut tiedostojärjestelmät)
GenericName[it]=Partizionamento dischi fissi (inclusi RAID, LVM e filesystem cifrati)
GenericName[nl]=Harde schijven partitioneren (inclusief RAID, LVM en versleuteld bestandssystemen)
GenericName[pt]=Cria partições nos discos rígidos (incluindo sistemas de ficheiros RAID, LVM e encriptados)
GenericName[pt_BR]=Partições de discos rígidos (incluindo sistemas de arquivos criptografados, RAID e LVM)
GenericName[sk]=Spravovať partície na pevnom disku (vrátane RAID, LVM a šiforvaných súborových systémoch)
GenericName[sl]=Razdelite trde diske (vključno z RAID, LVM in šifriranimi datotečnimi sistemi)
GenericName[sv]=Partitionera hårddiskar (inklusive RAID, LVM och krypterade filsystem)
GenericName[uk]=Програма для поділу дисків на розділи (зокрема створення RAID, LVM та шифрованих файлових систем)
GenericName[x-test]=xxPartition hard disks (including RAID, LVM, and encrypted file systems)xx
GenericName[zh_CN]=对硬盘进行分区 (包括 RAID，LVM 和加密文件系统)
StartupNotify=true

