[Desktop Entry]
X-SuSE-DocTeamID=ycc_disk
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-System;

X-KDE-HasReadOnlyMode=true
X-SuSE-YaST-Call=disk

X-SuSE-YaST-Group=System
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstResource=

Icon=yast-disk
Exec=xdg-su -c "/sbin/yast2 disk"

Name=Partitioner
Name[ast]=Particionador
Name[ca]=Partitioner
Name[ca@valencia]=Partitioner
Name[da]=Partitionering
Name[de]=Partitioner
Name[el]=Εργαλείο κατατμήσεων
Name[en_GB]=Partitioner
Name[es]=Particionador
Name[et]=Partitioner
Name[fi]=Osiointityökalu
Name[gd]=Inneal-pàirteachaidh
Name[gl]=Xestor de particións
Name[it]=Partizionatore
Name[ko]=파티션 도구
Name[nb]=Partisjonerer
Name[nl]=Programma voor partitionering
Name[nn]=Partisjonering
Name[pl]=Partycjoner
Name[pt]=Gestor de Partições
Name[pt_BR]=Particionador
Name[ru]=Разметка дисков
Name[sk]=Správca partícií
Name[sl]=Razdeljevalnik
Name[sr]=Партиционер
Name[sr@ijekavian]=Партиционер
Name[sr@ijekavianlatin]=Particioner
Name[sr@latin]=Particioner
Name[sv]=Partitioner
Name[tr]=Bölümleyici
Name[uk]=Partitioner
Name[x-test]=xxPartitionerxx
Name[zh_CN]=分区管理
Name[zh_TW]=Partitioner
GenericName=Partition hard disks (including RAID, LVM, and encrypted file systems)
GenericName[ast]=Particionáu de discos duros (incluyendo RAID, LVM y sistemes de ficheros cifraos)
GenericName[ca]=Fa particions de discs durs (incloent-hi RAID, LVM, i sistemes de fitxers encriptats)
GenericName[ca@valencia]=Fa particions de discs durs (incloent-hi RAID, LVM, i sistemes de fitxers encriptats)
GenericName[da]=Partitionér harddiske (herunder RAID, LVM og krypterede filsystemer)
GenericName[de]=Partitionierung von Dateisystemen einschließlich RAID, LVM und verschlüsselten Dateisystemen
GenericName[el]=Κατάτμηση σκληρών δίσκων (συμπεριλαμβανομένων RAID, LVM και κρυπτογραφημένων συστημάτων αρχείων)
GenericName[en_GB]=Partition hard disks (including RAID, LVM, and encrypted file systems)
GenericName[es]=Hacer particiones en discos duros (incluidos RAID, LVM y sistemas de archivos cifrados)
GenericName[et]=Kõvaketaste jagamine ehk partitsioneerimine (sh RAID, LVM ja krüptitud failisüsteemid)
GenericName[fi]=Osioi kiintolevyjä (mukaan lukien RAID, LVM ja salatut tiedostojärjestelmät)
GenericName[gd]=Pàirtich clàran-cruaidh (a' gabhail a-steach RAID, LVM is siostaman fhaidhlichean crioptaichte)
GenericName[gl]=Xestiona particións de discos duros (compatíbel con RAID, LVM, e sistemas de ficheiros cifrados).
GenericName[it]=Partizionamento dischi fissi (inclusi RAID, LVM e filesystem cifrati)
GenericName[ko]=하드 디스크 파티션 관리(RAID, LVM, 암호화된 파일 시스템 포함)
GenericName[nb]=Del opp harddisker i partisjoner (også RAID, LVM og krypterte filsystemer)
GenericName[nl]=Harde schijven partitioneren (inclusief RAID, LVM en versleuteld bestandssystemen)
GenericName[nn]=Partisjonering av harddiskar (inkludert RAID, LVM og krypterte filsystem)
GenericName[pl]=Partycjonowanie dysków twardych (uwzględniając w tym RAID, LVM oraz szyfrowane systemy plików)
GenericName[pt]=Cria partições nos discos rígidos (incluindo sistemas de ficheiros RAID, LVM e encriptados)
GenericName[pt_BR]=Partições de discos rígidos (incluindo sistemas de arquivos criptografados, RAID e LVM)
GenericName[ru]=Редактор разделов на дисках (поддерживает RAID, LVM и зашифрованные файловые системы)
GenericName[sk]=Spravovať partície na pevnom disku (vrátane RAID, LVM a šiforvaných súborových systémoch)
GenericName[sl]=Razdelite trde diske (vključno z RAID, LVM in šifriranimi datotečnimi sistemi)
GenericName[sr]=Партиционишите хард‑дискове (укљ. РАИД, ЛВМ, шифроване фајл системе)
GenericName[sr@ijekavian]=Партиционишите хард‑дискове (укљ. РАИД, ЛВМ, шифроване фајл системе)
GenericName[sr@ijekavianlatin]=Particionišite hard‑diskove (uklj. RAID, LVM, šifrovane fajl sisteme)
GenericName[sr@latin]=Particionišite hard‑diskove (uklj. RAID, LVM, šifrovane fajl sisteme)
GenericName[sv]=Partitionera hårddiskar (inklusive RAID, LVM och krypterade filsystem)
GenericName[tr]=Sabit diskleri bölümle (RAID, LWM ve şifreli sistemler dahil)
GenericName[uk]=Програма для поділу дисків на розділи (зокрема створення RAID, LVM та шифрованих файлових систем)
GenericName[x-test]=xxPartition hard disks (including RAID, LVM, and encrypted file systems)xx
GenericName[zh_CN]=对硬盘进行分区 (包括 RAID，LVM 和加密文件系统)
GenericName[zh_TW]=硬碟分割工具(包括 RAID, LVM 與加密檔案系統)
StartupNotify=true

