[Desktop Entry]

Version=1.0
Type=Application
Name=Fontmatrix
Name[ca]=Fontmatrix
Name[ca@valencia]=Fontmatrix
Name[cs]=Fontmatrix
Name[da]=Fontmatrix
Name[es]=Fontmatrix
Name[eu]=Fontmatrix
Name[fr]=Fontmatrix
Name[it]=Fontmatrix
Name[nl]=Lettertypematrix
Name[pt]=Fontmatrix
Name[sr]=Фонтмејтрикс
Name[sr@ijekavian]=Фонтмејтрикс
Name[sr@ijekavianlatin]=Fontmatrix
Name[sr@latin]=Fontmatrix
Name[sv]=Fontmatrix
Name[uk]=Fontmatrix
Name[x-test]=xxFontmatrixxx
Name[zh_CN]=Fontmatrix
Name[zh_TW]=Fontmatrix
Comment=A font manager
Comment[ca]=Un gestor de tipus de lletra
Comment[ca@valencia]=Un gestor de tipus de lletra
Comment[cs]=Správce písem
Comment[da]=Håndtering af skrifttyper
Comment[es]=Un gestor de tipos de letra
Comment[eu]=Letra-tipo kudeatzaile bat
Comment[fr]=Un gestionnaire de polices
Comment[it]=Un gestore dei caratteri
Comment[nl]=Beheerder van lettertypen
Comment[pt]=Um gestor de tipos de letra
Comment[sr]=Менаџер фонтова
Comment[sr@ijekavian]=Менаџер фонтова
Comment[sr@ijekavianlatin]=Menadžer fontova
Comment[sr@latin]=Menadžer fontova
Comment[sv]=En teckensnittshanterare
Comment[uk]=Програма для керування шрифтами
Comment[x-test]=xxA font managerxx
Comment[zh_CN]=字体管理器
Comment[zh_TW]=字型管理員
Categories=Graphics;VectorGraphics;
Exec=fontmatrix
Icon=fontmatrix
Terminal=false
GenericName=Font Manager
GenericName[ca]=Gestor de tipus de lletra
GenericName[ca@valencia]=Gestor de tipus de lletra
GenericName[cs]=Správce písem
GenericName[da]=Håndtering af skrifttyper
GenericName[es]=Gestor de tipos de letra
GenericName[eu]=Letra-tipo kudeatzailea
GenericName[fr]=Gestionnaire de polices
GenericName[it]=Gestore dei caratteri
GenericName[nl]=Beheerder van lettertypen
GenericName[pt]=Gestor de Tipos de Letra
GenericName[sr]=Менаџер фонтова
GenericName[sr@ijekavian]=Менаџер фонтова
GenericName[sr@ijekavianlatin]=Menadžer fontova
GenericName[sr@latin]=Menadžer fontova
GenericName[sv]=Teckensnittshanterare
GenericName[uk]=Керування завданнями
GenericName[x-test]=xxFont Managerxx
GenericName[zh_CN]=字体管理器
GenericName[zh_TW]=字型管理員
TryExec=fontmatrix
X-StandardInstall=false
StartupWMClass=fontmatrix
X-KDE-SubstituteUID=false
