[Desktop Entry]
Exec=kcmshell5 fontinst
Icon=preferences-desktop-font-installer
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/fontinst/index.html

X-KDE-Library=kcm_fontinst
X-KDE-ParentApp=kcontrol
Categories=Qt;KDE;X-KDE-settings-system;
X-KDE-System-Settings-Parent-Category=font

Name=Font Management
Name[ca]=Gestió dels tipus de lletra
Name[ca@valencia]=Gestió dels tipus de lletra
Name[es]=Gestión de tipos de letra
Name[eu]=Letra-tipoa kudeatzailea
Name[fr]=Gestion des polices de caractères
Name[nl]=Lettertypenbeheer
Name[pt]=Gestão dos Tipos de Letra
Name[sv]=Teckensnittshantering
Name[uk]=Керування шрифтами
Name[x-test]=xxFont Managementxx
Name[zh_CN]=字体管理

Comment=Font Installation, Preview and Removal
Comment[ca]=Instal·lació, vista prèvia i eliminació dels tipus de lletra
Comment[ca@valencia]=Instal·lació, vista prèvia i eliminació dels tipus de lletra
Comment[es]=Instalación, vista previa y eliminación de tipos de letra
Comment[eu]=Letra-tipoak instalatzea, aurreikustea eta kentzea
Comment[fr]=Installation, aperçu et suppression de polices
Comment[nl]=Installatie, voorbeeldweergave en verwijdering van lettertypen
Comment[pt]=Instalação, Antevisão e Remoção de Tipos de Letra
Comment[sv]=Installation, förhandsgranskning och borttagning av teckensnitt
Comment[uk]=Встановлення, перегляд і вилучення шрифтів
Comment[x-test]=xxFont Installation, Preview and Removalxx
Comment[zh_CN]=字体安装，预览和删除

X-KDE-Keywords=font,fonts,installer,truetype,type1,bitmap
X-KDE-Keywords[ca]=tipus de lletra,tipus de lletres,instal·lador,truetype,type1,mapa de bits
X-KDE-Keywords[ca@valencia]=tipus de lletra,tipus de lletres,instal·lador,truetype,type1,mapa de bits
X-KDE-Keywords[es]=tipo de letra,tipos de letras,fuente,fuentes,instalador,truetype,type1,bitmap
X-KDE-Keywords[eu]=letra-tipoa,letra-tipoak,instalatzailea,truetype,type1,bitmap
X-KDE-Keywords[fr]=police, polices, installateur, TrueType, type1, bitmap
X-KDE-Keywords[nl]=lettertype,lettertypen,installatieprogramma,truetype,type1,bitmap
X-KDE-Keywords[pt]=tipo de letra,tipos de letra,instalador,truetype,type1,imagem
X-KDE-Keywords[sv]=teckensnitt,installation,truetype,type1,bitavbildning
X-KDE-Keywords[uk]=font,fonts,installer,bitmap,шрифт,шрифти,встановлювач,truetype,type1,растрові
X-KDE-Keywords[x-test]=xxfontxx,xxfontsxx,xxinstallerxx,xxtruetypexx,xxtype1xx,xxbitmapxx
X-KDE-Keywords[zh_CN]=font,fonts,installer,truetype,type1,bitmap,字体,安装器,点阵


