[Desktop Entry]

Version=1.0
Type=Application
Name=Fontmatrix
Name[ca]=Fontmatrix
Name[ca@valencia]=Fontmatrix
Name[es]=Fontmatrix
Name[eu]=Fontmatrix
Name[nl]=Lettertypematrix
Name[pt]=Fontmatrix
Name[sv]=Fontmatrix
Name[uk]=Fontmatrix
Name[x-test]=xxFontmatrixxx
Comment=A font manager
Comment[ca]=Un gestor de tipus de lletra
Comment[ca@valencia]=Un gestor de tipus de lletra
Comment[es]=Un gestor de tipos de letra
Comment[eu]=Letra-tipo kudeatzaile bat
Comment[nl]=Beheerder van lettertypen
Comment[pt]=Um gestor de tipos de letra
Comment[sv]=En teckensnittshanterare
Comment[uk]=Програма для керування шрифтами
Comment[x-test]=xxA font managerxx
Categories=Graphics;VectorGraphics;
Exec=fontmatrix
Icon=fontmatrix
Terminal=false
GenericName=Font Manager
GenericName[ca]=Gestor de tipus de lletra
GenericName[ca@valencia]=Gestor de tipus de lletra
GenericName[es]=Gestor de tipos de letra
GenericName[eu]=Letra-tipo kudeatzailea
GenericName[nl]=Beheerder van lettertypen
GenericName[pt]=Gestor de Tipos de Letra
GenericName[sv]=Teckensnittshanterare
GenericName[uk]=Керування завданнями
GenericName[x-test]=xxFont Managerxx
TryExec=fontmatrix
X-StandardInstall=false
StartupWMClass=fontmatrix
X-KDE-SubstituteUID=false
