[Desktop Entry]
Version=1.0
Type=Application
Name=FSearch
Name[ca]=FSearch
Name[ca@valencia]=FSearch
Name[es]=FSearch
Name[eu]=FSearch
Name[it]=FSearch
Name[nl]=FSearch
Name[pt]=FSearch
Name[sv]=FSearch
Name[uk]=FSearch
Name[x-test]=xxFSearchxx
Comment=A file search application focusing on performance and advanced features
Comment[ca]=Una aplicació de cerca de fitxers enfocada al rendiment i a funcionalitats avançades
Comment[ca@valencia]=Una aplicació de busca de fitxers enfocada al rendiment i a funcionalitats avançades
Comment[eu]=Fitxategiak bilatzeko aplikazio bat arreta errendimendua eta ezaugarri aurreratuetan ipintzen duena
Comment[it]=Un'applicazione di ricerca dei file che pone l'attenzione sulle prestazioni e sulle funzionalità avanzate
Comment[nl]=Een toepassing voor bestandszoeken met focus op prestaties en geavanceerde functies
Comment[pt]=Uma aplicação de pesquisa de ficheiros que se foca na performance e em funcionalidades avançadas
Comment[sv]=Ett filsökningsprogram som fokuserar på prestanda och avancerade funktioner
Comment[uk]=Програма для пошуку файлів із акцентом на швидкодію та розширені можливості
Comment[x-test]=xxA file search application focusing on performance and advanced featuresxx
Icon=system-search
TryExec=fsearch
Exec=fsearch
Categories=GTK;Utility;Core;
Keywords=search;fsearch;files;folders;music;video;documents;find;tool;everything;
Keywords[ca]=cerca;fsearch;fitxers;carpetes;música;vídeo;documents;cerca;eina;tot;
Keywords[ca@valencia]=busca;fsearch;fitxers;carpetes;música;vídeo;documents;busca;eina;tot;
Keywords[eu]=bilatu;fsearch;fitxategiak;karpetak;musika;bideoa;documentuak;aurkitu;tresna;guztia;
Keywords[it]=ricerca;fsearch;file;cartelle;musica;video;documenti;trova;strumento;tutto;
Keywords[nl]=zoeken;bzoeken;bestanden;mappen;muziek;video;documenten;zoeken;hulpmiddel;alles;
Keywords[pt]=pesquisa;pesquisa de ficheiros;ficheiros;pastas;música;vídeo;documentos;procurar;ferramenta;tudo;
Keywords[sv]=sök;filsökning;filer;kataloger;musik;video;dokument,hitta;verktyg;allt;
Keywords[uk]=search;fsearch;files;folders;music;video;documents;find;tool;everything;пошук;файли;теки;музика;відео;документи;знайти;інструмент;засіб;
Keywords[x-test]=xxsearchxx;xxfsearchxx;xxfilesxx;xxfoldersxx;xxmusicxx;xxvideoxx;xxdocumentsxx;xxfindxx;xxtoolxx;xxeverythingxx;
StartupNotify=true
