[Desktop Entry]
GenericName=Git repository viewer
Version=1.0
Type=Application
Name=Giggle
Name[ca]=Giggle
Name[ca@valencia]=Giggle
Name[cs]=Giggle
Name[da]=Giggle
Name[de]=Giggle
Name[en_GB]=Giggle
Name[es]=Giggle
Name[fr]=Giggle
Name[gl]=Giggle
Name[hu]=Giggle
Name[id]=Giggle
Name[ja]=Giggle
Name[nb]=Giggle
Name[pa]=ਗਿੱਗਲ
Name[pl]=Giggle
Name[pt_BR]=Giggle
Name[ro]=Giggle
Name[ru]=Giggle
Name[sl]=Giggle
Name[sv]=Giggle
Name[uk]=Giggle
Name[vi]=Giggle
Name[zh_CN]=Giggle
Comment=Git repository viewer
Comment[ca]=Visualitzador de dipòsits Git
Comment[ca@valencia]=Visualitzador de dipòsits Git
Comment[cs]=Prohlížeč repozitářů git
Comment[da]=Git-arkivfremviser
Comment[de]=Ansicht für Git-Softwarebestände
Comment[en_GB]=Git repository viewer
Comment[es]=Visor de repositorios Git
Comment[fr]=Explorateur de dépôt git
Comment[gl]=Visor de repositorio Git
Comment[hu]=Git tárolómegjelenítő
Comment[id]=Penampil repositori Git
Comment[ja]=Git リポジトリ・ビューアー
Comment[pa]=Git ਰਿਪੋਜ਼ਟਰੀ ਦਰਸ਼ਕ
Comment[pl]=Przeglądarka repozytoriów git
Comment[pt_BR]=Visualizador de repositório Git
Comment[ro]=Vizualizator de arhive GIT
Comment[ru]=Показать репозиторий
Comment[sl]=Pregledovalnik skladišč Git
Comment[sv]=Visare för Git-förråd
Comment[uk]=Огляд git-сховища
Comment[vi]=Trình xem kho Git
Comment[zh_CN]=Git 仓库查看器
Exec=giggle %F
Icon=giggle
StartupNotify=true
Categories=Development;RevisionControl;
MimeType=x-scheme-handler/git;

