# added for KMoreTools

[Desktop Entry]
Name=Git Cola (View History)
TryExec=git-cola

Exec=git-cola dag %f

Icon=git-cola
NoDisplay=true
Terminal=false
StartupNotify=true
Type=Application
Categories=Development;RevisionControl;
MimeType=inode/directory;
