[Desktop Entry]
X-SuSE-translate=true
GenericName=Git repository viewer
GenericName[ca]=Visualitzador del repositori Git
GenericName[en_GB]=Git repository viewer
GenericName[es]=Visor del repositorio Git
GenericName[fi]=Git-varastokatselin
GenericName[gl]=Visor de repositorios Git
GenericName[it]=Visualizzatore depositi Git
GenericName[ko]=Git 저장소 뷰어
GenericName[nb]=Git pakkebrønnviser
GenericName[nl]=Viewer van git-repository 
GenericName[pl]=Przeglądarka repozytorium Git
GenericName[pt]=Visualizador de repositórios do Git
GenericName[pt_BR]=Visualizador de repositórios Git
GenericName[ru]=Просмотр репозитория Git
GenericName[sk]=Prehliadač repozitárov Git
GenericName[sl]=Pregledovalnik skladišč Git
GenericName[sr]=Приказивач гит ризница
GenericName[sr@ijekavian]=Приказивач гит ризница
GenericName[sr@ijekavianlatin]=Prikazivač git riznica
GenericName[sr@latin]=Prikazivač git riznica
GenericName[sv]=Git-arkivvisning
GenericName[uk]=Перегляд репозиторіїв Git
GenericName[x-test]=xxGit repository viewerxx
GenericName[zh_CN]=Git 仓库查看器
Name=gitg
Name[ca]=gitg
Name[en_GB]=gitg
Name[es]=gitg
Name[fi]=gitg
Name[gl]=gitg
Name[it]=gitg
Name[ko]=gitg
Name[nb]=gitg
Name[nl]=gitg
Name[pl]=gitg
Name[pt]=gitg
Name[pt_BR]=gitg
Name[ru]=gitg
Name[sk]=gitg
Name[sl]=gitg
Name[sr]=ГитГ
Name[sr@ijekavian]=ГитГ
Name[sr@ijekavianlatin]=gitg
Name[sr@latin]=gitg
Name[sv]=gitg
Name[uk]=gitg
Name[x-test]=xxgitgxx
Name[zh_CN]= 
Comment=Git repository browser
Comment[ca]=Navegador pel repositori Git
Comment[en_GB]=Git repository browser
Comment[es]=Explorador del repositorio Git
Comment[fi]=Git-varastokatselin
Comment[gl]=Navegador de repositorios Git
Comment[it]=Navigatore depositi Git
Comment[ko]=Git 저장소 탐색기
Comment[nb]=Bla i Git pakkebrønn
Comment[nl]=Browser van git-repository
Comment[pl]=Przeglądarka repozytorium Git
Comment[pt]=Navegador de repositórios do Git
Comment[pt_BR]=Navegador de repositórios Git
Comment[ru]=Программа просмотра репозитория Git
Comment[sk]=Prehliadač repozitárov Git
Comment[sl]=Brskalnik po skladiščih Git
Comment[sr]=Прегледач гит ризница
Comment[sr@ijekavian]=Прегледач гит ризница
Comment[sr@ijekavianlatin]=Pregledač git riznica
Comment[sr@latin]=Pregledač git riznica
Comment[sv]=Git-arkivbläddrare
Comment[uk]=Засіб для перегляду сховищ Git
Comment[x-test]=xxGit repository browserxx
Comment[zh_CN]=Git 仓库浏览器
Exec=gitg --no-wd %U
TryExec=gitg
Terminal=false
Type=Application
Icon=gitg
Categories=GNOME;GTK;Development;RevisionControl;
MimeType=x-scheme-handler/gitg;
#X-GNOME-DocPath=gitg/gitg.xml
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gitg
X-GNOME-Bugzilla-Component=core
X-GNOME-Bugzilla-Version=3.14.0

