[Desktop Entry]
GenericName=Git repository viewer
Name=gitg
Name[as]=gitg
Name[bg]=gitg
Name[bs]=gitg
Name[ca]=gitg
Name[ca@valencia]=gitg
Name[cs]=gitg
Name[da]=gitg
Name[de]=gitg
Name[el]=gitg
Name[en_GB]=gitg
Name[eo]=gitg
Name[es]=gitg
Name[eu]=gitg
Name[fi]=gitg
Name[fr]=gitg
Name[fur]=gitg
Name[gl]=gitg
Name[he]=gitg
Name[hu]=gitg
Name[id]=gitg
Name[it]=gitg
Name[ja]=gitg
Name[ko]=gitg
Name[lt]=gitg
Name[lv]=gitg
Name[nb]=gitg
Name[nl]=gitg
Name[oc]=gitg
Name[pa]=gitg
Name[pl]=gitg
Name[pt]=gitg
Name[pt_BR]=gitg
Name[ro]=gitg
Name[ru]=gitg
Name[sk]=gitg
Name[sl]=gitg
Name[sr]=гитг
Name[sr@latin]=gitg
Name[sv]=gitg
Name[tr]=gitg
Name[uk]=gitg
Name[vi]=gitg
Name[zh_CN]=gitg
Name[zh_HK]=gitg
Name[zh_TW]=gitg
Comment=Git repository browser
Comment[as]=Git ভঁৰাল ব্ৰাউছাৰ
Comment[bg]=Работа с хранилища на git
Comment[bs]=Preglednik spremišta Git
Comment[ca]=Navegador de dipòsits Git
Comment[ca@valencia]=Navegador de dipòsits Git
Comment[cs]=Prohlížeč repozitářů Git
Comment[da]=Arkivbrowser til git
Comment[de]=Betrachter für Git-Softwarebestände
Comment[el]=Περιηγητής αποθετηρίου Git
Comment[en_GB]=Git repository browser
Comment[eo]=Foliumo por Git-deponejoj
Comment[es]=Examinador de repositorios Git
Comment[eu]=Git biltegi-arakatzailea
Comment[fi]=Git-tietovarastojen selain
Comment[fr]=Navigateur de dépôt git
Comment[fur]=Navigadôr di repository Git
Comment[gl]=Explorador de repositorios Git
Comment[he]=דפדפן מאגרי Git
Comment[hu]=Git tárolóböngésző
Comment[id]=Peramban repositori git
Comment[it]=Browser di repository Git
Comment[ja]=Git リポジトリブラウザー
Comment[ko]=git 저장소 탐색기
Comment[lt]=Git saugyklų naršyklė
Comment[lv]=Git repozitoriju pārlūks
Comment[nb]=Git utforsker
Comment[nl]=Git-repository-viewer
Comment[oc]=Navigador de depaus git
Comment[pa]=Git ਰਿਪੋਜ਼ਟਰੀ ਬਰਾਊਜ਼ਰ
Comment[pl]=Przeglądarka repozytoriów git
Comment[pt]=Navegador de repositórios Git
Comment[pt_BR]=Navegador de repositórios Git
Comment[ro]=Navigatorul de depozite GIT
Comment[ru]=Просмотр репозиториев Git
Comment[sk]=Prehliadač repozitárov Git
Comment[sl]=Brskalnik skladišč Git
Comment[sr]=Прегледач гит ризница
Comment[sr@latin]=Pregledač git riznica
Comment[sv]=Git-arkivsbläddrare
Comment[tr]=Git deposu görüntüleyici
Comment[uk]=Оглядач сховища Git
Comment[vi]=Bộ duyệt kho git
Comment[zh_CN]=Git 仓库浏览器
Comment[zh_HK]=Git 倉儲瀏覽器
Comment[zh_TW]=Git 倉儲瀏覽器
Exec=gitg --no-wd %U
TryExec=gitg
Terminal=false
Type=Application
Icon=gitg
Categories=GNOME;GTK;Development;RevisionControl;
MimeType=x-scheme-handler/gitg;
#X-GNOME-DocPath=gitg/gitg.xml
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gitg
X-GNOME-Bugzilla-Component=core
X-GNOME-Bugzilla-Version=3.26.0

