[Desktop Entry]
X-SuSE-translate=true
GenericName=Git repository viewer
GenericName[ca]=Visualitzador del repositori Git
GenericName[es]=Visor del repositorio Git
GenericName[fi]=Git-varastokatselin
GenericName[it]=Visualizzatore depositi Git
GenericName[nl]=Viewer van git-repository 
GenericName[pt]=Visualizador de repositórios do Git
GenericName[pt_BR]=Visualizador de repositórios Git
GenericName[sk]=Prehliadač repozitárov Git
GenericName[sv]=Git-arkivvisning
GenericName[uk]=Перегляд репозиторіїв Git
GenericName[x-test]=xxGit repository viewerxx
GenericName[zh_CN]=Git 仓库查看器
Name=gitg
Name[ca]=gitg
Name[es]=gitg
Name[fi]=gitg
Name[it]=gitg
Name[nl]=gitg
Name[pt]=gitg
Name[pt_BR]=gitg
Name[sk]=gitg
Name[sv]=gitg
Name[uk]=gitg
Name[x-test]=xxgitgxx
Name[zh_CN]= 
Comment=Git repository browser
Comment[ca]=Navegador pel repositori Git
Comment[es]=Explorador del repositorio Git
Comment[fi]=Git-varastokatselin
Comment[it]=Navigatore depositi Git
Comment[nl]=Browser van git-repository
Comment[pt]=Navegador de repositórios do Git
Comment[pt_BR]=Navegador de repositórios Git
Comment[sk]=Prehliadač repozitárov Git
Comment[sv]=Git-arkivbläddrare
Comment[uk]=Засіб для перегляду сховищ Git
Comment[x-test]=xxGit repository browserxx
Comment[zh_CN]=Git 仓库浏览器
Exec=gitg --no-wd %U
TryExec=gitg
Terminal=false
Type=Application
Icon=gitg
Categories=GNOME;GTK;Development;RevisionControl;
MimeType=x-scheme-handler/gitg;
#X-GNOME-DocPath=gitg/gitg.xml
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gitg
X-GNOME-Bugzilla-Component=core
X-GNOME-Bugzilla-Version=3.14.0

