# KMoreTools
# gitk does not install desktop file of it's own

[Desktop Entry]
Name=gitk
Name[ca]=gitk
Name[es]=gitk
Name[fi]=gitk
Name[it]=gitk
Name[nl]=gitk
Name[pt]=gitk
Name[pt_BR]=gitk
Name[sk]=gitk
Name[sv]=gitk
Name[uk]=gitk
Name[x-test]=xxgitkxx
Name[zh_CN]= 
GenericName=gitk
GenericName[ca]=gitk
GenericName[es]=gitk
GenericName[fi]=gitk
GenericName[it]=gitk
GenericName[nl]=gitk
GenericName[pt]=gitk
GenericName[pt_BR]=gitk
GenericName[sk]=gitk
GenericName[sv]=gitk
GenericName[uk]=gitk
GenericName[x-test]=xxgitkxx
GenericName[zh_CN]= 
TryExec=gitk
Exec=cd %f && gitk
