[Desktop Entry]
X-SuSE-translate=true
Name=Search for Files...
Name[ca]=Cerca fitxers...
Name[ca@valencia]=Cerca fitxers...
Name[da]=Søg efter filer...
Name[en_GB]=Search for Files...
Name[es]=Buscar archivos...
Name[fi]=Etsi tiedostoja…
Name[gl]=Buscar ficheiros…
Name[it]=Cerca file...
Name[nl]=Naar bestanden zoeken...
Name[pl]=Szukaj plików...
Name[pt]=Procurar por Ficheiros...
Name[pt_BR]=Procurar por arquivos...
Name[sk]=Hľadať súbory...
Name[sv]=Sök efter filer...
Name[uk]=Пошук файлів…
Name[x-test]=xxSearch for Files...xx
Comment=Locate documents and folders on this computer by name or content
Comment[ca]=Localitza documents i carpetes en aquest ordinador per nom o contingut
Comment[ca@valencia]=Localitza documents i carpetes en este ordinador per nom o contingut
Comment[da]=Find dokumenter og mapper på denne computer efter navn og indhold
Comment[en_GB]=Locate documents and folders on this computer by name or content
Comment[es]=Localizar documentos y carpetas en este equipo por su nombre o por su contenido
Comment[fi]=Paikanna tiedostoja ja kansioita tältä tietokoneelta nimen tai sisällön perusteella
Comment[gl]=Localizar documentos e cartafoles no computador polo nome ou o contido.
Comment[it]=Individua documenti e cartelle nel computer in base al nome o al contenuto
Comment[nl]=Documenten en mappen vinden op deze computer op naam of inhoud
Comment[pl]=Ustalaj położenia plików i katalogów na tym komputerze po nazwie lub treści
Comment[pt]=Localizar os documentos e pastas neste computador pelo nome ou conteúdo
Comment[pt_BR]=Localiza documentos e pastas neste computador pelo nome ou conteúdo
Comment[sk]=Vyhľadať dokumenty a priečinky na tomto počítači podľa názvu alebo obsahu
Comment[sv]=Hitta dokument och kataloger på datorn enligt namn eller innehåll
Comment[uk]=Пошук документів або тек на цьому комп’ютері за назвою або вмістом
Comment[x-test]=xxLocate documents and folders on this computer by name or contentxx
Exec=gnome-search-tool
Icon=gnome-search-tool
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;Core;Filesystem;
NotShowIn=KDE;
X-GNOME-DocPath=gnome-search-tool/gnome-search-tool.xml
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-utils
X-GNOME-Bugzilla-Component=gsearchtool

