[Desktop Entry]
X-SuSE-translate=true
Name=Search for Files...
Name[es]=Buscar archivos...
Name[gl]=Buscar ficheiros…
Name[nl]=Naar bestanden zoeken...
Name[pt]=Procurar por Ficheiros...
Name[pt_BR]=Procurar por arquivos...
Name[sv]=Sök efter filer...
Name[uk]=Пошук файлів…
Name[x-test]=xxSearch for Files...xx
Comment=Locate documents and folders on this computer by name or content
Comment[es]=Localizar documentos y carpetas en este equipo por su nombre o por su contenido
Comment[gl]=Localizar documentos e cartafoles no computador polo nome ou o contido.
Comment[nl]=Documenten en mappen vinden op deze computer op naam of inhoud
Comment[pt]=Localizar os documentos e pastas neste computador pelo nome ou conteúdo
Comment[pt_BR]=Localiza documentos e pastas neste computador pelo nome ou conteúdo
Comment[sv]=Hitta dokument och kataloger på datorn enligt namn eller innehåll
Comment[uk]=Пошук документів або тек на цьому комп’ютері за назвою або вмістом
Comment[x-test]=xxLocate documents and folders on this computer by name or contentxx
Exec=gnome-search-tool
Icon=gnome-search-tool
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;Core;Filesystem;
NotShowIn=KDE;
X-GNOME-DocPath=gnome-search-tool/gnome-search-tool.xml
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-utils
X-GNOME-Bugzilla-Component=gsearchtool

