[Desktop Entry]
X-SuSE-translate=true
Name=Search for Files...
Comment=Locate documents and folders on this computer by name or content
Exec=gnome-search-tool
Icon=gnome-search-tool
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;Core;Filesystem;
NotShowIn=KDE;
X-GNOME-DocPath=gnome-search-tool/gnome-search-tool.xml
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-utils
X-GNOME-Bugzilla-Component=gsearchtool

