[Desktop Entry]
X-SuSE-translate=true
DocPath=gparted
Name=GParted
Name[ast]=GParted
Name[ca]=GParted
Name[ca@valencia]=GParted
Name[da]=GParted
Name[de]=GParted
Name[el]=GParted
Name[en_GB]=GParted
Name[es]=GParted
Name[et]=GParted
Name[fi]=GParted
Name[gd]=GParted
Name[gl]=GParted
Name[it]=GParted
Name[ko]=GParted
Name[nb]=GParted
Name[nl]=GParted
Name[nn]=GParted
Name[pl]=GParted
Name[pt]=GParted
Name[pt_BR]=GParted
Name[ru]=GParted
Name[sk]=GParted
Name[sl]=GParted
Name[sr]=Г‑партед
Name[sr@ijekavian]=Г‑партед
Name[sr@ijekavianlatin]=GParted
Name[sr@latin]=GParted
Name[sv]=Gparted
Name[tr]=GParted
Name[uk]=GParted
Name[x-test]=xxGPartedxx
Name[zh_CN]=GParted
Name[zh_TW]=磁碟分割_GParted
GenericName=Partition Editor
GenericName[ast]=Editor de particiones
GenericName[ca]=Editor de particions
GenericName[ca@valencia]=Editor de particions
GenericName[cs]=Editor diskových oddílů
GenericName[da]=Partitionerings-editor
GenericName[de]=Partition-Editor
GenericName[el]=Επεξεργαστής κατατμήσεων
GenericName[en_GB]=Partition Editor
GenericName[es]=Editor de particiones
GenericName[et]=Partitsioonihaldur
GenericName[fi]=Osionhallinta
GenericName[gd]=Deasaiche pàirteachaidh
GenericName[gl]=Editor de particións
GenericName[it]=Editor delle partizioni
GenericName[ko]=파티션 편집기
GenericName[nb]=Partisjonsredigering
GenericName[nl]=Partitiebewerker
GenericName[nn]=Partisjonsredigering
GenericName[pl]=Edytor partycji
GenericName[pt]=Editor de Partições
GenericName[pt_BR]=Editor de partições
GenericName[ru]=Редактор разделов
GenericName[sk]=Editor partícií
GenericName[sl]=Urejevalnik razdelkov
GenericName[sr]=Уређивач партиција
GenericName[sr@ijekavian]=Уређивач партиција
GenericName[sr@ijekavianlatin]=Uređivač particija
GenericName[sr@latin]=Uređivač particija
GenericName[sv]=Partitionseditor
GenericName[tr]=Disk Bölümleme Yöneticisi
GenericName[uk]=Редактор розділів на дисках
GenericName[x-test]=xxPartition Editorxx
GenericName[zh_CN]=分区编辑器
GenericName[zh_TW]=磁碟分割區編輯器
X-GNOME-FullName=GParted Partition Editor
X-GNOME-FullName[ar]=محرّر الأقسام مُقسِّم‌ج
X-GNOME-FullName[bg]=Редактор на дялове на дискове за GNOME
X-GNOME-FullName[ca]=Editor de particions GParted
X-GNOME-FullName[ca@valencia]=Editor de particions GParted
X-GNOME-FullName[cs]=Editor oddílů GParted
X-GNOME-FullName[da]=GParted - partitioneringsprogram
X-GNOME-FullName[de]=GParted Partitionierungswerkzeug
X-GNOME-FullName[el]=Επεξεργαστής κατατμήσεων GParted
X-GNOME-FullName[en_CA]=GParted Partition Editor
X-GNOME-FullName[en_GB]=GParted Partition Editor
X-GNOME-FullName[es]=Editor de particiones GParted
X-GNOME-FullName[et]=GParted partitsioonihaldur
X-GNOME-FullName[eu]=GParted partizio-editorea
X-GNOME-FullName[fa]=ویرایشگر پارتیشن GParted
X-GNOME-FullName[fi]=GParted - levyosioiden muokkain
X-GNOME-FullName[fr]=Éditeur de partitions GParted
X-GNOME-FullName[gd]=Deasaiche pàirteachaidh GParted
X-GNOME-FullName[gl]=Editor de particións GParted
X-GNOME-FullName[gu]=GParted પાર્ટીશન સંપાદક
X-GNOME-FullName[he]=עורך המחיצות GParted
X-GNOME-FullName[hu]=GParted partíciószerkesztő
X-GNOME-FullName[id]=GParted Penyunting Partisi
X-GNOME-FullName[is]=GNOME disksneiðastjórinn
X-GNOME-FullName[it]=Editor di partizioni GParted
X-GNOME-FullName[ja]=GParted パーティション編集ツール
X-GNOME-FullName[kk]=GParted бөлімдерді басқарушысы
X-GNOME-FullName[ko]=GParted 파티션 편집기
X-GNOME-FullName[lt]=Skirsnių redaktorius „GParted“
X-GNOME-FullName[lv]=GParted nodalījumu redaktors
X-GNOME-FullName[ml]=ജീപാര്‍ട്ടട് പാര്‍ട്ടീഷന്‍ സംശോധകന്‍
X-GNOME-FullName[nb]=GNOME partisjonsredigering
X-GNOME-FullName[nl]=GParted partitiebewerker
X-GNOME-FullName[nn]=GParted partisjonshandsaming
X-GNOME-FullName[pa]=ਜੀਪਾਰਟਡ ਪਾਰਟੀਸ਼ਨ ਐਡੀਟਰ
X-GNOME-FullName[pl]=Edytor partycji GParted
X-GNOME-FullName[pt]=Editor de Partições GParted
X-GNOME-FullName[pt_BR]=Editor de partições GParted
X-GNOME-FullName[ro]=GParted - Editor de partiții
X-GNOME-FullName[ru]=Редактор разделов GParted
X-GNOME-FullName[sk]=GParted - editor diskových oddielov
X-GNOME-FullName[sl]=GParted urejevalnik razdelkov
X-GNOME-FullName[sr]=Уређивач партиција ГПартед
X-GNOME-FullName[sr@latin]=Uređivač particija GParted
X-GNOME-FullName[sv]=Partitionsredigeraren GParted
X-GNOME-FullName[te]=జిపార్టెడ్ విభజన కూర్పకము
X-GNOME-FullName[th]=เครื่องมือแก้ไขพาร์ทิชัน GParted
X-GNOME-FullName[tr]=GParted Disk Bölümü Düzenleyicisi
X-GNOME-FullName[uk]=Редактор розділів GParted
X-GNOME-FullName[zh_CN]=GParted 分区编辑器
X-GNOME-FullName[zh_HK]=GParted 分割區編輯器
X-GNOME-FullName[zh_TW]=GParted 分割區編輯器
Comment=Create, reorganize, and delete partitions
Comment[ast]=Crea, reorganiza y desanicia particiones
Comment[ca]=Crea, reorganitza i suprimeix particions
Comment[ca@valencia]=Crea, reorganitza i suprimeix particions
Comment[da]=Opret, omorganiser og slet partitioner
Comment[de]=Partitionen anlegen, ändern und löschen
Comment[el]=Δημιουργία, αναδιοργάνωση και διαγραφή κατατμήσεων
Comment[en_GB]=Create, reorganise, and delete partitions
Comment[es]=Crear, reorganizar y borrar particiones
Comment[et]=Partitsioonide loomine, ümberkorraldamine ja kustutamine
Comment[fi]=Luo, järjestä ja poista osioita
Comment[gd]=Cruthaich no sguab pàirteachaidhean às no cuir rian ùr orra
Comment[gl]=Cree, reorganice e elimine particións
Comment[it]=Creare, riorganizzare ed eliminare le partizioni
Comment[ko]=파티션 생성, 재배치, 삭제
Comment[nb]=Opprett, omorganiser og slett partisjoner
Comment[nl]=Partities aanmaken, opnieuw organiseren en verwijderen
Comment[nn]=Opprett, omorganiser og slett partisjonar
Comment[pl]=Tworzenie, przestawianie oraz usuwanie partycji
Comment[pt]=Cria, reorganiza e apaga partições
Comment[pt_BR]=Cria, organiza e exclui partições
Comment[ru]=Создание, редактирование и удаление разделов на дисках
Comment[sk]=Vytváranie, organizácia a mazanie partícií
Comment[sl]=Ustvarite, preoblikujte in izbrišite razdelke
Comment[sr]=Правите, мењајте и бришите партиције
Comment[sr@ijekavian]=Правите, мењајте и бришите партиције
Comment[sr@ijekavianlatin]=Pravite, menjajte i brišite particije
Comment[sr@latin]=Pravite, menjajte i brišite particije
Comment[sv]=Skapa, organisera om och ta bort partitioner
Comment[tr]=Bölümler oluştur, yeniden düzenle ve sil
Comment[uk]=Створення, реорганізація та вилучення розділів диска
Comment[x-test]=xxCreate, reorganize, and delete partitionsxx
Comment[zh_CN]=创建，组织和删除分区
Comment[zh_TW]=建立、重新編排、刪除分割區
Exec=pkexec /usr/sbin/gparted %f
Icon=gparted
Terminal=false
Type=Application
Categories=GNOME;System;Filesystem;
StartupNotify=true

