[Desktop Entry]
GenericName=Character Map
Name=GNOME Character Map
Comment=Insert special characters into documents
Keywords=font;unicode;
Exec=gucharmap
Icon=accessories-character-map
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;X-SuSE-Editor;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gucharmap
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=10.0.0
StartupNotify=true

