[Desktop Entry]
GenericName=Character Map
Name=GNOME Character Map
Comment=Insert special characters into documents
Comment[af]=Voeg spesiale karakters in dokumente in
Comment[ar]=أدرج محارف خاصة في المستندات
Comment[as]=দস্তাবেজত বিশেষ আখৰ সুমুৱাওক
Comment[ast]=Inxertar carauteres especiales nos documentos
Comment[az]=Sənədlərə xüsusi hərfləri daxil edin
Comment[be]=Устаўка знакаў у дакументы
Comment[be@latin]=Ustaŭlaj specyjalnyja znaki ŭ dakumenty
Comment[bg]=Вмъкване на специални знаци в документи
Comment[bn]=ডকুমেন্টে বিশেষ অক্ষর ব্যবহার করুন
Comment[bn_IN]=নথিপত্রের মধ্যে বিশেষ অক্ষর সন্নিবেশ করুন
Comment[br]=Enlakaat arouezennoù dibar en dielloù
Comment[bs]=Ubacivanje posebnih znakova u dokumente
Comment[ca]=Inseriu caràcters especials en els documents
Comment[ca@valencia]=Inseriu caràcters especials en els documents
Comment[cs]=Vložit speciální znaky do dokumentů
Comment[cy]=Mewnosod nodau arbennig i mewn i ddogfenni
Comment[da]=Indsæt specielle tegn i dokumenter
Comment[de]=Sonderzeichen in Dokumente einfügen
Comment[dz]=དམིགས་བསལ ཡིག་འབྲུ་ཚུ་ ཡིག་ཆའི་ནང་བཙུགས།
Comment[el]=Εισαγωγή ειδικών χαρακτήρων σε έγγραφα
Comment[en@shaw]=𐑦𐑯𐑕𐑻𐑑 𐑕𐑐𐑧𐑖𐑩𐑤 𐑒𐑸𐑩𐑒𐑑𐑼𐑟 𐑦𐑯𐑑𐑫 𐑛𐑪𐑒𐑿𐑥𐑩𐑯𐑑𐑕
Comment[en_CA]=Insert special characters into documents
Comment[en_GB]=Insert special characters into documents
Comment[eo]=Enmeti specialajn signojn en dokumentojn
Comment[es]=Inserte caracteres especiales en los documentos
Comment[et]=Erimärkide lisamine dokumentidesse
Comment[eu]=Txertatu karaktere bereziak dokumentuetan
Comment[fa]=درج نویسه‌های خاص در نوشتار
Comment[fi]=Lisää erikoismerkkejä asiakirjoihin
Comment[fr]=Insère des caractères spéciaux dans vos documents
Comment[ga]=Ionsáigh carachtair speisialta isteach i gcáipéisí
Comment[gl]=Inserir caracteres especiais nos documentos
Comment[gu]=દસ્તાવેજમાં વિશિષ્ટ અક્ષરો ઉમેરો
Comment[he]=הוספת תווים מיוחדים למסמכים
Comment[hi]=दस्तावेज़ों में विशिष्ट अक्षर प्रविष्ट करें
Comment[hr]=Umetanje posebnih znakova u dokumente
Comment[hu]=Különleges karakterek dokumentumokba illesztése
Comment[id]=Masukkan karakter istimewa ke dalam dokumen
Comment[is]=Setja sértákn og bókstafi inn í skjöl
Comment[it]=Inserisce caratteri speciali nei documenti
Comment[ja]=ドキュメントの中に特殊な文字を挿入します
Comment[kk]=Құжаттарға арнайы таңбаларды кірістіріңіз
Comment[kn]=ವಿಶೇಷ ಅಕ್ಷರಗಳನ್ನು ದಸ್ತಾವೇಜಿನಲ್ಲಿ ಸೇರಿಸಿ
Comment[ko]=문서에 특수 문자를 입력합니다
Comment[lt]=Įterpti į dokumentus specialius simbolius
Comment[lv]=Ievietot īpašas rakstzīmes dokumentā
Comment[mai]=दस्ताबेजसभमे विशिष्ट अक्षर प्रविष्ट करू
Comment[mk]=Внесувај специјални карактери во документите
Comment[ml]=പ്രമാണങ്ങളിലേയ്ക്കു് പ്രത്യേകാക്ഷരങ്ങള്‍ ചേര്‍ക്കുക
Comment[mn]=Баримт руу тусгай тэмдэгт оруулах
Comment[mr]=दस्तऐवजात विशेष अक्षरे प्रविष्ट करा
Comment[ms]=Menyisipkan aksara istimewa ke dokumen
Comment[nb]=Sett inn spesielle tegn i dokumenter
Comment[ne]=कागजातमा विशेष क्यारेक्टर घुसाउनुहोस्
Comment[nl]=Speciale tekens invoegen in documenten
Comment[nn]=Sett inn spesielle teikn i dokument
Comment[oc]=Inserir de caractèrs especials dins vòstres documents
Comment[or]=ଦଲିଲରେ ବିଶେଷ ଅକ୍ଷର ମାନଙ୍କୁ ଭର୍ତ୍ତୀ କରନ୍ତୁ
Comment[pa]=ਡੌਕੂਮੈਂਟ ਵਿੱਚ ਖਾਸ ਅੱਖਰ ਦਿਉ
Comment[pl]=Wstawienie znaków specjalnych do dokumentów
Comment[pt]=Inserir caracteres especiais em documentos
Comment[pt_BR]=Insira caracteres especiais nos documentos
Comment[ro]=Introducere caractere speciale în documente
Comment[ru]=Программа для вставки специальных символов в документы
Comment[sk]=Vloží špeciálne znaky do dokumentov
Comment[sl]=Vstavi posebne znake v dokumente
Comment[sq]=Shto simbole të veçantë në dokumente
Comment[sr]=Унесите нарочите знаке у документа
Comment[sr@latin]=Unesite naročite znake u dokumenta
Comment[sv]=Infoga specialtecken i dokument
Comment[ta]=ஆவணத்தில் சிறப்பு எழுத்துக்களை சொருகு
Comment[te]=పత్రములలోకి ప్రత్యేక అక్షరములను చేర్చుము
Comment[tg]=Дарҷ кардани аломатҳои махсус дар ҳуҷҷатҳо
Comment[th]=แทรกอักขระพิเศษเข้าในเอกสาร
Comment[tr]=Özel karakterleri belgelere yerleştir
Comment[ug]=پۈتۈككە ئالاھىدە ھەرپ-بەلگە قىستۇرۇش پروگراممىسى
Comment[uk]=Вставляння спеціальних символів у документ
Comment[vi]=Chèn ký tự đặc biệt vào tài liệu
Comment[wa]=Sititchî des caracteres sipeciås ezès documints
Comment[xh]=Fakela izimo ezizodwa emaxwebhini
Comment[zh_CN]=在文档中插入特殊字符
Comment[zh_HK]=在文件中插入特殊字符
Comment[zh_TW]=在文件中插入特殊字元
Keywords=font;unicode;
Keywords[ar]=خط;يونيكود;
Keywords[as]=ফন্ট;ইউনিক'ড;
Keywords[be]=шрыфт;унікод;
Keywords[bg]=шрифт;знак;глиф;буква;сричка;йероглиф;символ;уникод;юникод;азбука;клинопис;абджад;абугида;font;unicode;character;map;glyph;symbol;
Keywords[bn_IN]=হরফ;unicode;
Keywords[bs]=font;unicode;
Keywords[ca]=tipus de lletra;unicode;
Keywords[ca@valencia]=tipus de lletra;unicode;
Keywords[cs]=font;písmo;unicode;unikód;
Keywords[da]=skrifttype;unicode;
Keywords[de]=Schrift;Schriftart;Unicode;Zeichen;Zeichentabelle;
Keywords[el]=γραμματοσειρά;unicode;font;
Keywords[es]=tipografía;unicode;
Keywords[et]=font;kiri;kirjatüüp;kirjastiil;kirjalaad;unicode;unikood;
Keywords[eu]=letra-tipoa;unicode;
Keywords[fa]=قلم;یونیکد;
Keywords[fi]=font;unicode;fontti;kirjasin;
Keywords[fr]=police;unicode;
Keywords[ga]=cló;unicode;
Keywords[gl]=tipo de letra;unicode;
Keywords[gu]=ફોન્ટ;યુનિકોડ;
Keywords[he]=גופן;יוניקוד;פונט;
Keywords[hi]=font;unicode;
Keywords[hr]=slovo,unikôd
Keywords[hu]=betűkészlet;unicode;
Keywords[id]=fonta;unicode;
Keywords[is]=letur;unicode;
Keywords[it]=carattere;caratteri;unicode;tabella;
Keywords[ja]=font;unicode;フォント;文字;ユニコード;charmap;charactermap;
Keywords[kk]=қаріп;юникод;
Keywords[kn]=ಅಕ್ಷರಶೈಲಿ;ಯುನಿಕೋಡ್;
Keywords[ko]=font;글꼴;unicode;유니코드;
Keywords[lt]=šriftas;unikodas;
Keywords[lv]=fonti;unikods;
Keywords[ml]=font;unicode;
Keywords[mr]=फाँट;युनिकोड;
Keywords[nb]=skrift;unicode;
Keywords[ne]=फन्ट;युनिकोड;
Keywords[nl]=font;unicode;lettertype;tekens;symbolen;
Keywords[oc]=poliça;unicode;
Keywords[or]=font;unicode;
Keywords[pa]=ਫੋਂਟ;ਯੂਨੀਕੋਡ;ਅੱਖਰ;font;unicode;
Keywords[pl]=czcionka;font;pismo;unicode;unikod;mapa;
Keywords[pt]=letra;unicode;
Keywords[pt_BR]=fonte;unicode;caracteres;gucharmap;mapa;símbolos;
Keywords[ru]=шрифт;юникод;
Keywords[sk]=písmo;font;unicode;
Keywords[sl]=pisava;unikod;unicode;simboli;črke;znaki;
Keywords[sr]=словни лик;писмо;уникод;
Keywords[sr@latin]=slovni lik;pismo;unikod;
Keywords[sv]=typsnitt;unicode;tecken;
Keywords[ta]=எழுத்துரு;யூனிக்கோடு;
Keywords[te]=ఫాంట్;యూనికోడ్;
Keywords[tg]=шрифт;юникод;
Keywords[th]=แบบอักษร;ฟอนต์;ยูนิโค้ด;
Keywords[tr]=yazı tipi;unicode;evrensel kod;
Keywords[ug]=font;unicode;خەت نۇسخا;يۇنىكود;
Keywords[uk]=шрифт;унікод;
Keywords[vi]=font;unicode;phông;chữ;phong;chu;
Keywords[zh_CN]=font;unicode;字体;统一码;万国码;
Keywords[zh_HK]=font;unicode;字型;萬國碼;
Keywords[zh_TW]=font;unicode;字型;萬國碼;
Exec=gucharmap
Icon=accessories-character-map
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;X-SuSE-Editor;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gucharmap
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=10.0.0
StartupNotify=true

