[Desktop Entry]
Name=HotShots
Name[ca]=HotShots
Name[es]=HotShots
Name[gl]=HotShots
Name[nl]=HotShots
Name[pt]=HotShots
Name[pt_BR]=HotShots
Name[ru]=HotShots
Name[sk]=HotShots
Name[sv]=HotShots
Name[uk]=HotShots
Name[x-test]=xxHotShotsxx
Comment=Screenshot manager
Comment[ca]=Gestor de captures de pantalla
Comment[es]=Gestor de capturas de pantalla
Comment[gl]=Xestor de capturas de pantalla.
Comment[nl]=Beheerder van schermafdrukken
Comment[pt]=Gestor de capturas de imagens
Comment[pt_BR]=Gerenciador de imagens
Comment[ru]=Создание и редактирование снимков экрана
Comment[sk]=Správca snímok obrazovky
Comment[sv]=Skärmbildshanterare
Comment[uk]=Програма для керування знімками вікон
Comment[x-test]=xxScreenshot managerxx
Type=Application
GenericName=Screenshot manager
GenericName[ca]=Gestor de captures de pantalla
GenericName[es]=Gestor de capturas de pantalla
GenericName[gl]=Xestor de capturas de pantalla
GenericName[nl]=Beheerder van schermafdrukken
GenericName[pt]=Gestor de capturas de imagens
GenericName[pt_BR]=Gerenciador de imagens
GenericName[ru]=Управление снимками экрана
GenericName[sk]=Správca snímok obrazovky
GenericName[sv]=Skärmbildshanterare
GenericName[uk]=Програма для керування знімками вікон
GenericName[x-test]=xxScreenshot managerxx
TryExec=hotshots
Exec=hotshots
Categories=Utility;X-SuSE-DesktopUtility;Qt;
Icon=hotshots
MimeType=application/x-hot;

