#!/usr/bin/env xdg-open
[Desktop Entry]
X-SuSE-translate=true
Version=1.0
Name=Htop
Name[ca]=Htop
Name[de]=Htop
Name[en_GB]=Htop
Name[es]=Htop
Name[fi]=Htop
Name[gl]=Htop
Name[nl]=Htop
Name[pl]=Htop
Name[pt]=Htop
Name[pt_BR]=Htop
Name[sk]=Htop
Name[sl]=Htop
Name[sr]=Хтоп
Name[sr@ijekavian]=Хтоп
Name[sr@ijekavianlatin]=htop
Name[sr@latin]=htop
Name[sv]=Htop
Name[uk]=Htop
Name[x-test]=xxHtopxx
Type=Application
Comment=Show System Processes
Comment[ca]=Mostra els processos del sistema
Comment[de]=Systemprozesse anzeigen
Comment[en_GB]=Show System Processes
Comment[es]=Mostrar procesos del sistema
Comment[fi]=Katsele järjestelmän prosesseja
Comment[gl]=Mostrar os procesos do sistema.
Comment[nl]=Systeemprocessen tonen
Comment[pl]=Pokaż procesy systemowe
Comment[pt]=Mostrar os Processos do Sistema
Comment[pt_BR]=Mostra os processos do sistema
Comment[sk]=Zobraziť systémové procesy
Comment[sl]=Prikaz sistemskih opravil
Comment[sr]=Приказ системских процеса
Comment[sr@ijekavian]=Приказ системских процеса
Comment[sr@ijekavianlatin]=Prikaz sistemskih procesa
Comment[sr@latin]=Prikaz sistemskih procesa
Comment[sv]=Visa systemprocesser
Comment[uk]=Перегляд системних процесів
Comment[x-test]=xxShow System Processesxx
Terminal=true
Exec=htop
Icon=htop
Categories=System;Monitor;System;
GenericName=Process Viewer
GenericName[ca]=Visor de processos
GenericName[de]=Prozessanzeige
GenericName[en_GB]=Process Viewer
GenericName[es]=Visor de procesos
GenericName[fi]=Prosessikatselin
GenericName[gl]=Visor de procesos
GenericName[nl]=Viewer van processen
GenericName[pl]=Przeglądarka procesów
GenericName[pt]=Visualizador de Processos
GenericName[pt_BR]=Visualizador de processos
GenericName[sk]=Prehliadač procesov
GenericName[sl]=Pregledovalnik opravil
GenericName[sr]=Приказивач процеса
GenericName[sr@ijekavian]=Приказивач процеса
GenericName[sr@ijekavianlatin]=Prikazivač procesa
GenericName[sr@latin]=Prikazivač procesa
GenericName[sv]=Processvisning
GenericName[uk]=Перегляд процесів
GenericName[x-test]=xxProcess Viewerxx

