#!/usr/bin/env xdg-open
[Desktop Entry]
X-SuSE-translate=true
Version=1.0
Name=Htop
Name[ca]=Htop
Name[en_GB]=Htop
Name[gl]=Htop
Name[nl]=Htop
Name[pl]=Htop
Name[pt]=Htop
Name[pt_BR]=Htop
Name[sv]=Htop
Name[uk]=Htop
Name[x-test]=xxHtopxx
Type=Application
Comment=Show System Processes
Comment[ca]=Mostra els processos del sistema
Comment[en_GB]=Show System Processes
Comment[es]=Mostrar procesos del sistema
Comment[gl]=Mostrar os procesos do sistema.
Comment[nl]=Systeemprocessen tonen
Comment[pl]=Pokaż procesy systemowe
Comment[pt]=Mostrar os Processos do Sistema
Comment[pt_BR]=Mostra os processos do sistema
Comment[sv]=Visa systemprocesser
Comment[uk]=Перегляд системних процесів
Comment[x-test]=xxShow System Processesxx
Terminal=true
Exec=htop
Icon=htop
Categories=System;Monitor;System;
GenericName=Process Viewer
GenericName[ca]=Visor de processos
GenericName[en_GB]=Process Viewer
GenericName[es]=Visor de procesos
GenericName[gl]=Visor de procesos
GenericName[nl]=Viewer van processen
GenericName[pl]=Przeglądarka procesów
GenericName[pt]=Visualizador de Processos
GenericName[pt_BR]=Visualizador de processos
GenericName[sv]=Processvisning
GenericName[uk]=Перегляд процесів
GenericName[x-test]=xxProcess Viewerxx

