[Desktop Entry]
X-SuSE-translate=true
Version=1.0
Name=Htop
Name[ast]=Htop
Name[ca]=Htop
Name[ca@valencia]=Htop
Name[da]=Htop
Name[de]=Htop
Name[el]=Htop
Name[en_GB]=Htop
Name[es]=Htop
Name[et]=Htop
Name[fi]=Htop
Name[gd]=Htop
Name[gl]=Htop
Name[it]=Htop
Name[ko]=Htop
Name[nb]=Htop
Name[nl]=Htop
Name[nn]=Htop
Name[pl]=Htop
Name[pt]=Htop
Name[pt_BR]=Htop
Name[ru]=Htop
Name[sk]=Htop
Name[sl]=Htop
Name[sr]=Хтоп
Name[sr@ijekavian]=Хтоп
Name[sr@ijekavianlatin]=htop
Name[sr@latin]=htop
Name[sv]=Htop
Name[tr]=Htop
Name[uk]=Htop
Name[x-test]=xxHtopxx
Name[zh_CN]=Htop
Name[zh_TW]=Htop
Type=Application
Comment=Show System Processes
Comment[ast]=Amuesa los procesos del sistema
Comment[ca]=Mostra els processos del sistema
Comment[ca@valencia]=Mostra els processos del sistema
Comment[da]=Vis systemprocesser
Comment[de]=Systemprozesse anzeigen
Comment[el]=Εμφάνιση διεργασιών συστήματος
Comment[en_GB]=Show System Processes
Comment[es]=Mostrar procesos del sistema
Comment[et]=Süsteemi protsesside näitaja
Comment[fi]=Katsele järjestelmän prosesseja
Comment[gd]=Seall pròiseasan an t-siostaim
Comment[gl]=Mostrar os procesos do sistema.
Comment[it]=Mostra processi di sistema
Comment[ko]=시스템 프로세스 보기
Comment[nb]=Vis systemprosesser
Comment[nl]=Systeemprocessen tonen
Comment[nn]=Vis systemprosessar
Comment[pl]=Pokaż procesy systemowe
Comment[pt]=Mostrar os Processos do Sistema
Comment[pt_BR]=Mostra os processos do sistema
Comment[ru]=Просмотр списка процессов в системе
Comment[sk]=Zobraziť systémové procesy
Comment[sl]=Prikaz sistemskih opravil
Comment[sr]=Приказ системских процеса
Comment[sr@ijekavian]=Приказ системских процеса
Comment[sr@ijekavianlatin]=Prikaz sistemskih procesa
Comment[sr@latin]=Prikaz sistemskih procesa
Comment[sv]=Visa systemprocesser
Comment[tr]=Sistem Süreçlerini Göster
Comment[uk]=Перегляд системних процесів
Comment[x-test]=xxShow System Processesxx
Comment[zh_CN]=显示系统进程
Comment[zh_TW]=顯示系統行程
Terminal=true
Exec=htop
Icon=htop
Categories=System;Monitor;System;
GenericName=Process Viewer
GenericName[ast]=Visor de procesos
GenericName[ca]=Visor de processos
GenericName[ca@valencia]=Visor de processos
GenericName[da]=Procesfremviser
GenericName[de]=Prozessanzeige
GenericName[el]=Προβολέας διεργασιών
GenericName[en_GB]=Process Viewer
GenericName[es]=Visor de procesos
GenericName[et]=Protsessinäitaja
GenericName[fi]=Prosessikatselin
GenericName[gd]=Sealladair phròiseasan
GenericName[gl]=Visor de procesos
GenericName[it]=Visore dei processi
GenericName[ko]=프로세스 뷰어
GenericName[nb]=Prosessviser
GenericName[nl]=Viewer van processen
GenericName[nn]=Prosessvisar
GenericName[pl]=Przeglądarka procesów
GenericName[pt]=Visualizador de Processos
GenericName[pt_BR]=Visualizador de processos
GenericName[ru]=Монитор процессов
GenericName[sk]=Prehliadač procesov
GenericName[sl]=Pregledovalnik opravil
GenericName[sr]=Приказивач процеса
GenericName[sr@ijekavian]=Приказивач процеса
GenericName[sr@ijekavianlatin]=Prikazivač procesa
GenericName[sr@latin]=Prikazivač procesa
GenericName[sv]=Processvisning
GenericName[tr]=Süreç Görüntüleyici
GenericName[uk]=Перегляд процесів
GenericName[x-test]=xxProcess Viewerxx
GenericName[zh_CN]=进程查看器
GenericName[zh_TW]=行程檢視器

