#!/usr/bin/env xdg-open
[Desktop Entry]
Terminal=false
Name=Kaption
Name[ca]=Kaption
Name[es]=Kaption
Name[gl]=Kaption
Name[nl]=Opschrift
Name[pl]=Kaption
Name[pt]=Kaption
Name[pt_BR]=Kaption
Name[ru]=Kaption
Name[sk]=Kaption
Name[sr]=Капција
Name[sr@ijekavian]=Капција
Name[sr@ijekavianlatin]=Kapcija
Name[sr@latin]=Kapcija
Name[sv]=Kaption
Name[uk]=Kaption
Name[x-test]=xxKaptionxx
Comment=Screen capture and editor
Comment[ca]=Captura de pantalla i editor
Comment[es]=Captura de pantalla y editor
Comment[gl]=Editor de xerador de capturas de pantalla.
Comment[nl]=Schermafdruk maken en bewerker
Comment[pl]=Przechwytywanie ekranu i edycja
Comment[pt]=Captura e edição do ecrã
Comment[pt_BR]=Captura de tela e editor
Comment[ru]=Создание и редактирование снимков экрана
Comment[sk]=Zachytávanie a úprava snímok obrazovky
Comment[sr]=Хватање и уређивање екрана
Comment[sr@ijekavian]=Хватање и уређивање екрана
Comment[sr@ijekavianlatin]=Hvatanje i uređivanje ekrana
Comment[sr@latin]=Hvatanje i uređivanje ekrana
Comment[sv]=Ta och redigera skärmbilder
Comment[uk]=Програма для створення і редагування знімків вікон
Comment[x-test]=xxScreen capture and editorxx
Type=Application

Exec=kaption
Categories=Qt;KDE;Graphics;2DGraphics;

