[Desktop Entry]
Name=KDiskFree
Name[ca]=KDiskFree
Name[es]=KDiskFree
Name[fi]=KDiskFree
Name[it]=KDiskFree
Name[nl]=KDiskFree
Name[pt]=KDiskFree
Name[pt_BR]=KDiskFree
Name[sk]=KDiskFree
Name[sv]=Kdiskfree
Name[uk]=KDiskFree
Name[x-test]=xxKDiskFreexx
Name[zh_CN]=KDiskFree
Exec=kdf -caption %c
Icon=kdf
Type=Application
GenericName=View Disk Usage
GenericName[ca]=Veure l'ús de disc
GenericName[es]=Ver el uso del disco
GenericName[fi]=Näytä levynkäyttö
GenericName[it]=Visualizza l'utilizzo del disco
GenericName[nl]=Schijfgebruik bekijken
GenericName[pt]=Ver a Utilização do Disco
GenericName[pt_BR]=Mostra a utilização do disco
GenericName[sk]=Zobrazenie využitia disku
GenericName[sv]=Visa hårddiskanvändning
GenericName[uk]=Перегляд використання диска
GenericName[x-test]=xxView Disk Usagexx
GenericName[zh_CN]=查看磁盘使用状况
Terminal=false
X-DocPath=kdf/index.html
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;System;
