[Desktop Entry]
Name=KDiskFree
Exec=kdf -caption %c
Icon=kdf
Type=Application
GenericName=View Disk Usage
Terminal=false
X-DocPath=kdf/index.html
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;System;
