[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=KDing
GenericName=German-English Translator
Comment=Translator
Exec=kding
Icon=kding
Categories=Qt;KDE;Office;Dictionary;

