[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=KDing
Name[ca]=KDing
Name[ca@valencia]=KDing
Name[es]=KDing
Name[eu]=KDing
Name[it]=KDing
Name[nl]=KDing
Name[pt]=KDing
Name[sv]=KDing
Name[uk]=KDing
Name[x-test]=xxKDingxx
GenericName=German-English Translator
GenericName[ca]=Traductor alemany-anglès
GenericName[ca@valencia]=Traductor alemany-anglés
GenericName[es]=Traductor alemán-inglés
GenericName[eu]=Alemana-Ingelera itzultzailea
GenericName[it]=Traduttore tedesco-inglese
GenericName[nl]=Vertaler Duits-Engels
GenericName[pt]=Tradutor de Alemão-Inglês
GenericName[sv]=Engelsk-tysk översättning
GenericName[uk]=Німецько-англійський перекладач
GenericName[x-test]=xxGerman-English Translatorxx
Comment=Translator
Comment[ca]=Traductor
Comment[ca@valencia]=Traductor
Comment[es]=Traductor
Comment[eu]=Itzultzailea
Comment[it]=Traduttore
Comment[nl]=Vertaler
Comment[pt]=Tradutor
Comment[sv]=Översättning
Comment[uk]=Перекладач
Comment[x-test]=xxTranslatorxx
Comment[zh_CN]=翻译
Exec=kding
Icon=kding
Categories=Qt;KDE;Office;Dictionary;

