[Desktop Entry]
Name=KSystemLog
Categories=Qt;KDE;System;Monitor;
X-KDE-SubstituteUID=true
Exec=ksystemlog %i -caption %c
Icon=utilities-log-viewer
Type=Application
X-DocPath=ksystemlog/index.html
Comment=System log viewer tool
Terminal=false
GenericName=System Log Viewer
