[Desktop Entry]
Name=KSystemLog
Name[ca]=KSystemLog
Name[de]=KSystemLog
Name[en_GB]=KSystemLog
Name[es]=KSystemLog
Name[fi]=KSystemLog
Name[gl]=KSystemLog
Name[nl]=KSystemLog
Name[nn]=KSystemLog
Name[pl]=KSystemLog
Name[pt]=KSystemLog
Name[pt_BR]=KSystemLog
Name[sk]=KSystemLog
Name[sl]=KSystemLog
Name[sr]=К‑системски-дневник
Name[sr@ijekavian]=К‑системски-дневник
Name[sr@ijekavianlatin]=K‑sistemski-dnevnik
Name[sr@latin]=K‑sistemski-dnevnik
Name[sv]=Ksystemlog
Name[uk]=KSystemLog
Name[x-test]=xxKSystemLogxx
Categories=Qt;KDE;System;Monitor;
X-KDE-SubstituteUID=true
Exec=ksystemlog %i -caption %c
Icon=utilities-log-viewer
Type=Application
X-DocPath=ksystemlog/index.html
Comment=System log viewer tool
Comment[ca]=Eina de visualització dels registres del sistema
Comment[de]=Betrachter für Systemprotokolle
Comment[en_GB]=System log viewer tool
Comment[es]=Herramienta del visor de registros del sistema
Comment[fi]=Järjestelmälokien katselin
Comment[gl]=Visor dos rexistros do sistema.
Comment[nl]=Viewerhulpmiddel voor systeemlogs
Comment[nn]=Vis systemloggar
Comment[pl]=Narzędzie do przeglądania dziennika systemowego
Comment[pt]=Ferramenta de visualização dos registos do sistema
Comment[pt_BR]=Ferramenta de visualização de registros do sistema
Comment[sk]=Nástroj na prehliadanie záznamov systému
Comment[sl]=Orodje za pregledovanje sistemskih dnevnikov
Comment[sr]=Приказивач системског дневника
Comment[sr@ijekavian]=Приказивач системског дневника
Comment[sr@ijekavianlatin]=Prikazivač sistemskog dnevnika
Comment[sr@latin]=Prikazivač sistemskog dnevnika
Comment[sv]=Visningsverktyg för systemloggar
Comment[uk]=Засіб перегляду системних журналів
Comment[x-test]=xxSystem log viewer toolxx
Terminal=false
GenericName=System Log Viewer
GenericName[ca]=Visor dels registres del sistema
GenericName[de]=Systemprotokoll-Betrachter
GenericName[en_GB]=System Log Viewer
GenericName[es]=Visor de registros del sistema
GenericName[fi]=Järjestelmälokien katselin
GenericName[gl]=Visor dos rexistros do sistema
GenericName[nl]=Viewer voor systeemlogs
GenericName[nn]=Vis systemloggar
GenericName[pl]=Przeglądarka dziennika systemowego
GenericName[pt]=Visualizador dos Registos do Sistema
GenericName[pt_BR]=Visualizador do registros do sistema
GenericName[sk]=Prehliadač záznamov systému
GenericName[sl]=Pregledovalnik sistemskih dnevnikov
GenericName[sr]=Приказивач системског дневника
GenericName[sr@ijekavian]=Приказивач системског дневника
GenericName[sr@ijekavianlatin]=Prikazivač sistemskog dnevnika
GenericName[sr@latin]=Prikazivač sistemskog dnevnika
GenericName[sv]=Visningsverktyg för systemloggar
GenericName[uk]=Переглядач системних журналів
GenericName[x-test]=xxSystem Log Viewerxx
