[Desktop Entry]
Name=KSystemLog
Name[ca]=KSystemLog
Name[de]=KSystemLog
Name[en_GB]=KSystemLog
Name[es]=KSystemLog
Name[gl]=KSystemLog
Name[nl]=KSystemLog
Name[pl]=KSystemLog
Name[pt]=KSystemLog
Name[pt_BR]=KSystemLog
Name[sv]=Ksystemlog
Name[uk]=KSystemLog
Name[x-test]=xxKSystemLogxx
Categories=Qt;KDE;System;Monitor;
X-KDE-SubstituteUID=true
Exec=ksystemlog %i -caption %c
Icon=utilities-log-viewer
Type=Application
X-DocPath=ksystemlog/index.html
Comment=System log viewer tool
Comment[ca]=Eina de visualització dels registres del sistema
Comment[de]=Betrachter für Systemprotokolle
Comment[en_GB]=System log viewer tool
Comment[es]=Herramienta del visor de registros del sistema
Comment[gl]=Visor dos rexistros do sistema.
Comment[nl]=Viewerhulpmiddel voor systeemlogs
Comment[pl]=Narzędzie do przeglądania dziennika systemowego
Comment[pt]=Ferramenta de visualização dos registos do sistema
Comment[pt_BR]=Ferramenta de visualização de registros do sistema
Comment[sv]=Visningsverktyg för systemloggar
Comment[uk]=Засіб перегляду системних журналів
Comment[x-test]=xxSystem log viewer toolxx
Terminal=false
GenericName=System Log Viewer
GenericName[ca]=Visor dels registres del sistema
GenericName[de]=Systemprotokoll-Betrachter
GenericName[en_GB]=System Log Viewer
GenericName[es]=Visor de registros del sistema
GenericName[gl]=Visor dos rexistros do sistema
GenericName[nl]=Viewer voor systeemlogs
GenericName[pl]=Przeglądarka dziennika systemowego
GenericName[pt]=Visualizador dos Registos do Sistema
GenericName[pt_BR]=Visualizador do registros do sistema
GenericName[sv]=Visningsverktyg för systemloggar
GenericName[uk]=Переглядач системних журналів
GenericName[x-test]=xxSystem Log Viewerxx
