[Desktop Entry]
Type=Application
Exec=kmousetool -qwindowtitle %c
Icon=kmousetool
X-DocPath=kmousetool/index.html
Comment=Clicks the mouse for you, reducing the effects of RSI
Terminal=false
Name=KMouseTool
GenericName=Automatic Mouse Click
Categories=Qt;KDE;Utility;Accessibility;
X-DBUS-ServiceName=org.kde.kmousetool


