[Desktop Entry]
GenericName=Screenshot Capture Utility
GenericName[ast]=Utilidá de captura de pantalla
GenericName[ca]=Utilitat de captura de pantalla
GenericName[ca@valencia]=Utilitat de captura de pantalla
GenericName[cs]=Nástroj na snímání obrazovky
GenericName[da]=Værktøj til at tage skærmbilleder
GenericName[de]=Dienstprogramm für Bildschirmfotos
GenericName[el]=Εργαλείο σύλληψης στιγμιοτύπων οθόνης
GenericName[en_GB]=Screenshot Capture Utility
GenericName[es]=Utilidad de capturas de pantalla
GenericName[et]=Ekraani pildistamise tööriist
GenericName[fi]=Kuvankaappausohjelma
GenericName[gd]=Goireas gus glacaidhean-sgrìn a thogail
GenericName[gl]=Utilidade para facer capturas de pantalla
GenericName[it]=Strumento di acquisizione delle schermate
GenericName[ko]=화면 캡처 유틸리티
GenericName[nb]=Verktøy til å ta opp skjermbilde
GenericName[nl]=Hulpmiddel voor het vangen van een schermafdruk
GenericName[nn]=Verktøy for å lagra skjermbilete
GenericName[pl]=Narzędzie do przechwytywania ekranu
GenericName[pt]=Utilitário de Captura de Imagens
GenericName[pt_BR]=Utilitário de captura de tela
GenericName[ru]=Создание снимков экрана
GenericName[sk]=Nástroj na zachytávanie obrazovky
GenericName[sl]=Pripomoček za zajem zaslona
GenericName[sr]=Алатка за хватање снимака екрана
GenericName[sr@ijekavian]=Алатка за хватање снимака екрана
GenericName[sr@ijekavianlatin]=Alatka za hvatanje snimaka ekrana
GenericName[sr@latin]=Alatka za hvatanje snimaka ekrana
GenericName[sv]=Verktyg för att ta skärmbilder
GenericName[tr]=Ekran Görüntüsü Yakalama Aracı
GenericName[uk]=Програма для створення знімків вікон
GenericName[x-test]=xxScreenshot Capture Utilityxx
GenericName[zh_CN]=屏幕捕获工具
GenericName[zh_TW]=畫面擷取工具
Name=KScreenGenie
Name[ast]=KScreenGenie
Name[ca]=KScreenGenie
Name[ca@valencia]=KScreenGenie
Name[da]=KScreenGenie
Name[de]=KScreenGenie
Name[el]=KScreenGenie
Name[en_GB]=KScreenGenie
Name[es]=KScreenGenie
Name[et]=KScreenGenie
Name[fi]=KScreenGenie
Name[gd]=KScreenGenie
Name[gl]=KScreenGenie
Name[it]=KScreenGenie
Name[ko]=KScreenGenie
Name[nb]=KScreenGenie
Name[nl]=KScreenGenie
Name[nn]=KScreenGenie
Name[pl]=KEkranowyGeniusz
Name[pt]=KScreenGenie
Name[pt_BR]=KScreenGenie
Name[ru]=KScreenGenie
Name[sk]=KScreenGenie
Name[sl]=KScreenGenie
Name[sr]=K‑скринџини
Name[sr@ijekavian]=K‑скринџини
Name[sr@ijekavianlatin]=KScreenGenie
Name[sr@latin]=KScreenGenie
Name[sv]=KScreenGenie
Name[tr]=KScreenGenie
Name[uk]=KScreenGenie
Name[x-test]=xxKScreenGeniexx
Name[zh_CN]=KScreenGenie
Name[zh_TW]=KScreenGenie
Categories=Qt;KDE;Utility;
MimeType=
Exec=kscreengenie
Icon=kscreengenie
Type=Application
Terminal=false
StartupNotify=false


