[Desktop Entry]
GenericName=Countdown Launcher
GenericName[ca]=Llançador amb compte enrere
GenericName[de]=Startet den Zähler
GenericName[en_GB]=Countdown Launcher
GenericName[es]=Lanzador de cuenta atrás
GenericName[gl]=Iniciador en conta-atrás
GenericName[nl]=Starter van aftellen
GenericName[pl]=Odliczanie
GenericName[pt]=Contagem Decrescente
GenericName[pt_BR]=Lançador de contagem regressiva
GenericName[sv]=Nerräknande startprogram
GenericName[uk]=Таймер
GenericName[x-test]=xxCountdown Launcherxx
Exec=ktimer
Icon=ktimer
Type=Application
Terminal=false
Name=KTimer
Name[ca]=KTimer
Name[de]=KTimer
Name[en_GB]=KTimer
Name[es]=KTimer
Name[gl]=KTimer
Name[nl]=KTimer
Name[pl]=KCzasomierz
Name[pt]=KTimer
Name[pt_BR]=KTimer
Name[sv]=Ktimer
Name[uk]=KTimer
Name[x-test]=xxKTimerxx
StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Utility;
X-DocPath=ktimer/index.html
X-DBUS-ServiceName=org.kde.ktimer
