[Desktop Entry]
GenericName=Screen Capture Program
Name=KSnapshot
MimeType=
Exec=ksnapshot -qwindowtitle %c
Icon=ksnapshot
Type=Application
Terminal=false
StartupNotify=false
X-DocPath=ksnapshot/index.html
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Graphics;
X-DBUS-ServiceName=org.kde.ksnapshot
