[Desktop Entry]
Name=KSysGuard
Name[ast]=KSysGuard
Name[ca]=KSysGuard
Name[ca@valencia]=KSysGuard
Name[cs]=KSysGuard
Name[da]=KSysGuard
Name[de]=KSysGuard
Name[el]=KSysGuard
Name[en_GB]=KSysGuard
Name[es]=KSysGuard
Name[et]=KSysGuard
Name[fi]=KSysGuard
Name[gd]=KSysGuard
Name[gl]=KSysGuard
Name[it]=KSysGuard
Name[ko]=KSysGuard
Name[nb]=KSysGuard
Name[nl]=KSysGuard
Name[nn]=KSysGuard
Name[pl]=Monitor systemu KDE
Name[pt]=KSysGuard
Name[pt_BR]=KSysGuard
Name[ru]=KSysGuard
Name[sk]=KSysGuard
Name[sl]=KSysGuard
Name[sr]=К‑систембран
Name[sr@ijekavian]=К‑систембран
Name[sr@ijekavianlatin]=K‑sistembran
Name[sr@latin]=K‑sistembran
Name[sv]=KDE:s systemövervakare
Name[tr]=KSysGuard
Name[uk]=KSysGuard
Name[x-test]=xxKSysGuardxx
Name[zh_CN]=KDE 系统卫士
Name[zh_TW]=KSysGuard
GenericName=System Monitor
GenericName[ast]=Monitor del sistema
GenericName[ca]=Controlador del sistema
GenericName[ca@valencia]=Controlador del sistema
GenericName[cs]=Monitor systému
GenericName[da]=Systemovervågning
GenericName[de]=Systemüberwachung
GenericName[el]=Επόπτης συστήματος
GenericName[en_GB]=System Monitor
GenericName[es]=Monitor del sistema
GenericName[et]=Süsteemi jälgija
GenericName[fi]=Järjestelmän valvonta
GenericName[gd]=Monatair an t-siostaim
GenericName[gl]=Vixilante do sistema
GenericName[it]=Monitor di sistema
GenericName[ko]=시스템 모니터
GenericName[nb]=Systemovervåker
GenericName[nl]=Systeemmonitor
GenericName[nn]=Systemovervaking
GenericName[pl]=Monitor systemu
GenericName[pt]=Monitor do Sistema
GenericName[pt_BR]=Monitor do sistema
GenericName[ru]=Системный монитор
GenericName[sk]=Monitor systému
GenericName[sl]=Sistemski nadzornik
GenericName[sr]=Надзорник система
GenericName[sr@ijekavian]=Надзорник система
GenericName[sr@ijekavianlatin]=Nadzornik sistema
GenericName[sr@latin]=Nadzornik sistema
GenericName[sv]=Systemövervakare
GenericName[tr]=Sistem İzleyici
GenericName[uk]=Нагляд за системою
GenericName[x-test]=xxSystem Monitorxx
GenericName[zh_CN]=系统监视器
GenericName[zh_TW]=系統監視器
Exec=ksysguard %U
Icon=utilities-system-monitor
Type=Application
MimeType=application/x-ksysguard;
X-DocPath=ksysguard/index.html
Terminal=false
StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;System;
X-DBUS-ServiceName=org.kde.ksysguard
