[Desktop Entry]
Comment=List and preview available icons
Comment[ca]=Llista i fa una vista prèvia de les icones disponibles
Comment[en_GB]=List and preview available icons
Comment[es]=Lista y vista previa de los iconos disponibles
Comment[gl]=Lista e mostra unha vista previa das iconas dispoñíbeis.
Comment[nl]=Beschikbare pictogrammen in een lijst weergeven en bekijken
Comment[pl]=Wypisz i podglądaj dostępne ikony
Comment[pt]=Enumera e antevê os ícones disponíveis
Comment[pt_BR]=Relaciona e visualiza os ícones disponíveis
Comment[sv]=Lista och visa tillgängliga ikoner
Comment[uk]=Показ списку і попередній перегляду доступних піктограм
Comment[x-test]=xxList and preview available iconsxx
Encoding=UTF-8
Exec=cuttlefish
GenericName=Icon Browser
GenericName[ca]=Navegador d'icones
GenericName[en_GB]=Icon Browser
GenericName[es]=Explorador de iconos
GenericName[gl]=Navegador de iconas
GenericName[nl]=Pictogrambrowser
GenericName[pl]=Przeglądarka ikon
GenericName[pt]=Navegador de Ícones
GenericName[pt_BR]=Navegador de ícones
GenericName[sv]=Ikonbläddrare
GenericName[uk]=Навігатор піктограмами
GenericName[x-test]=xxIcon Browserxx
Icon=internet-web-browser
MimeType=
Name=Cuttlefish
Name[ca]=Cuttlefish
Name[en_GB]=Cuttlefish
Name[gl]=Cuttlefish
Name[nl]=Cuttlefish
Name[pl]=Cuttlefish
Name[pt]=Cuttlefish
Name[pt_BR]=Cuttlefish
Name[sv]=Cuttlefish
Name[uk]=Cuttlefish
Name[x-test]=xxCuttlefishxx
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.plasma.cuttlefish
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kde.org
X-KDE-SubstituteUID=false
X-KDE-Username=
X-Plasma-MainScript=ui/cuttlefish.qml
