[Desktop Entry]
X-SuSE-translate=true
Name=Clocks
Name[ast]=Clocks
Name[ca]=Rellotges
Name[ca@valencia]=Rellotges
Name[da]=Ure
Name[de]=Uhren
Name[el]=Ρολόγια
Name[en_GB]=Clocks
Name[es]=Relojes
Name[et]=Kellad
Name[fi]=Kellot
Name[gd]=Uaireadairean
Name[gl]=Reloxos
Name[it]=Orologi
Name[ko]=시계
Name[nb]=Klokker
Name[nl]=Klokken
Name[nn]=Klokker
Name[pl]=Zegary
Name[pt]=Relógios
Name[pt_BR]=Relógios
Name[ru]=Часы GNOME
Name[sk]=Hodiny
Name[sl]=Ure
Name[sr]=Сатови
Name[sr@ijekavian]=Сатови
Name[sr@ijekavianlatin]=Satovi
Name[sr@latin]=Satovi
Name[sv]=Klockor
Name[tr]=Saatler
Name[uk]=Годинники
Name[x-test]=xxClocksxx
Name[zh_CN]=时钟
Name[zh_TW]=時鐘
GenericName=Clocks
GenericName[ast]=Relós
GenericName[ca]=Rellotges
GenericName[ca@valencia]=Rellotges
GenericName[da]=Ure
GenericName[de]=Uhren
GenericName[el]=Ρολόγια
GenericName[en_GB]=Clocks
GenericName[es]=Relojes
GenericName[et]=Kellad
GenericName[fi]=Kellot
GenericName[gd]=Uaireadairean
GenericName[gl]=Reloxos
GenericName[it]=Orologi
GenericName[ko]=시계
GenericName[nb]=Klokker
GenericName[nl]=Klokken
GenericName[nn]=Klokker
GenericName[pl]=Zegary
GenericName[pt]=Relógios
GenericName[pt_BR]=Relógios
GenericName[ru]=Часы
GenericName[sk]=Hodiny
GenericName[sl]=Ure
GenericName[sr]=Сатови
GenericName[sr@ijekavian]=Сатови
GenericName[sr@ijekavianlatin]=Satovi
GenericName[sr@latin]=Satovi
GenericName[sv]=Klockor
GenericName[tr]=Saatler
GenericName[uk]=Годинники
GenericName[x-test]=xxClocksxx
GenericName[zh_CN]=时钟
GenericName[zh_TW]=時鐘
X-GNOME-FullName=GNOME Clocks
X-GNOME-FullName[af]=GNOME Horlosies
X-GNOME-FullName[an]=Reloches d'o GNOME
X-GNOME-FullName[ar]=ساعات جنوم
X-GNOME-FullName[as]=GNOME ঘড়ী
X-GNOME-FullName[be]=Гадзіннікі GNOME
X-GNOME-FullName[bg]=Часовници
X-GNOME-FullName[bn_IN]=GNOME ঘড়ি
X-GNOME-FullName[ca]=Rellotges del GNOME
X-GNOME-FullName[ca@valencia]=Rellotges del GNOME
X-GNOME-FullName[cs]=Hodiny GNOME
X-GNOME-FullName[da]=GNOME Ure
X-GNOME-FullName[de]=GNOME-Uhren
X-GNOME-FullName[el]=Ρολόγια του GNOME
X-GNOME-FullName[en_GB]=GNOME Clocks
X-GNOME-FullName[eo]=GNOME-horloĝoj
X-GNOME-FullName[es]=Relojes de GNOME
X-GNOME-FullName[et]=GNOME kell
X-GNOME-FullName[eu]=GNOMEren ordulariak
X-GNOME-FullName[fa]=ساعت‌های گنوم
X-GNOME-FullName[fi]=Gnomen kellot
X-GNOME-FullName[fr]=Horloges GNOME
X-GNOME-FullName[fur]=Orlois par GNOME
X-GNOME-FullName[ga]=Cloig GNOME
X-GNOME-FullName[gd]=Uaireadairean GNOME
X-GNOME-FullName[gl]=Reloxos de GNOME
X-GNOME-FullName[gu]=GNOME ઘડિયાળ
X-GNOME-FullName[he]=שעונים מבית GNOME
X-GNOME-FullName[hi]=गनोम घड़ी
X-GNOME-FullName[hu]=GNOME órák
X-GNOME-FullName[id]=Jam GNOME
X-GNOME-FullName[it]=Orologi per GNOME
X-GNOME-FullName[ja]=GNOME Clocks
X-GNOME-FullName[kk]=GNOME Clocks
X-GNOME-FullName[kn]=GNOME ಕ್ಲಾಕ್ಸ್
X-GNOME-FullName[ko]=그놈 시계
X-GNOME-FullName[lt]=GNOME laikrodžiai
X-GNOME-FullName[lv]=GNOME pulksteņi
X-GNOME-FullName[ml]=ഗ്നോം ഘടികാരങ്ങള്‍
X-GNOME-FullName[mr]=GNOME घड्याळी
X-GNOME-FullName[nb]=GNOME klokker
X-GNOME-FullName[ne]=जिनोम घडी
X-GNOME-FullName[nl]=Gnome Klok
X-GNOME-FullName[or]=GNOME ଘଣ୍ଟାଗୁଡ଼ିକ
X-GNOME-FullName[pa]=ਗਨੋਮ ਘੜੀ
X-GNOME-FullName[pl]=Zegar GNOME
X-GNOME-FullName[pt]=Relógios GNOME
X-GNOME-FullName[pt_BR]=Relógios do GNOME
X-GNOME-FullName[ro]=GNOME Clocks
X-GNOME-FullName[ru]=Часы GNOME
X-GNOME-FullName[sk]=Hodiny prostredia GNOME
X-GNOME-FullName[sl]=Gnomeove ure
X-GNOME-FullName[sr]=Гномови сатови
X-GNOME-FullName[sr@latin]=Gnomovi satovi
X-GNOME-FullName[sv]=GNOME Klockor
X-GNOME-FullName[ta]=க்னோம் கடிகாரங்கள்
X-GNOME-FullName[te]=గ్నోమ్ గడియారాలు
X-GNOME-FullName[tg]=Соатҳои GNOME
X-GNOME-FullName[th]=นาฬิกา GNOME
X-GNOME-FullName[tr]=GNOME Saatleri
X-GNOME-FullName[ug]=گىنوم سائەتلىرى
X-GNOME-FullName[uk]=Годинники GNOME
X-GNOME-FullName[vi]=Đồng hồ GNOME
X-GNOME-FullName[zh_CN]=GNOME 时钟
X-GNOME-FullName[zh_HK]=GNOME Clocks
X-GNOME-FullName[zh_TW]=GNOME Clocks
Comment=Clocks for world times, plus alarms, stopwatch and a timer
Comment[ast]=Relós pa les hores mundiales amás d'alarmes, cronómetru y temporizador
Comment[ca]=Rellotges per hores del món, més alarmes, compte enrere i un temporitzador
Comment[ca@valencia]=Rellotges per hores del món, més alarmes, compte arrere i un temporitzador
Comment[da]=Ure til verdensur, alarmer, stopur og en timer
Comment[de]=Uhren für Weltzeiten, mit Erinnerungen, Stoppuhr und Zeitmesser
Comment[el]=Ρολόγια για παγκόσμια ώρα και επιπλέον, συναγερμοί, αντίστροφη μέτρηση και χρονόμετρο
Comment[en_GB]=Clocks for world times, plus alarms, stopwatch and a timer
Comment[es]=Relojes para tiempos mundiales, alarmas, cronómetro y temporizador
Comment[et]=Kellad maailma kellaaegadega, samuti äratused, stopperid ja taimerid
Comment[fi]=Maailmankellot, hälytykset, sekuntikello ja ajastin
Comment[gd]=Uaireadairean airson àm an t-saoghail le caismeachdan, stad-uaireadair 's tìmear
Comment[gl]=Reloxos para marcar a hora de calquera parte do mundo, máis alarmas, cronómetro e temporizador.
Comment[it]=Gli orologi per gli orari del mondo, con sveglie, cronometro e timer
Comment[ko]=세계 시각, 알람 시계, 스톱워치, 타이머
Comment[nb]=Klokker for verdenstid, pluss varslinger, stoppeklokke og nedteller
Comment[nl]=Klokken voor wereldtijden, plus alarms, stopwatch en een timer
Comment[nn]=Klokker som viser tid i verda, tidsvarsling, nedteljing og tidtakar
Comment[pl]=Zegary dla czasów światowych, plu alarmy, stopery i czasomierze
Comment[pt]=Relógios para as horas mundiais, alarmes, cronómetros, etc
Comment[pt_BR]=Relógios para as horas mundiais, alarmes, cronômetro e temporizador
Comment[ru]=Показ времени в разных часовых поясах, будильник, секундомер и таймер
Comment[sk]=Hodiny pre svetové časy, budíky, stopky a časovač
Comment[sl]=Svetovne ure, alarmi, časomeri, odštevalniki
Comment[sr]=Сатови за времена у свету, плус аларми, штоперица и одбројавач
Comment[sr@ijekavian]=Сатови за времена у свету, плус аларми, штоперица и одбројавач
Comment[sr@ijekavianlatin]=Satovi za vremena u svetu, plus alarmi, štoperica i odbrojavač
Comment[sr@latin]=Satovi za vremena u svetu, plus alarmi, štoperica i odbrojavač
Comment[sv]=Klockor för världstider, samt alarm, stoppur och en tidtagare
Comment[tr]=Dünya saatleri, alarmlar, kronometre ve zaman ölçer
Comment[uk]=Годинники зі світовим часом, з будильниками, секундоміром і таймером
Comment[x-test]=xxClocks for world times, plus alarms, stopwatch and a timerxx
Comment[zh_CN]=世界时间的时钟，外加闹钟，跑表，和计时器
Comment[zh_TW]=世界時鐘，包含鬧鐘、計時器等
Keywords=time;timer;alarm;world clock;stopwatch;time zone;
Keywords[ast]=tiempu;hora;temporizador;alarma;reló mundial;cronómetru;fusu horariu;
Keywords[ca]=hora;temporitzador;alarma;rellotge del món;compte enrere;zona horària;
Keywords[ca@valencia]=hora;temporitzador;alarma;rellotge del món;compte arrere;zona horària;
Keywords[da]=tide;timer;alarm;vækkeur;verdensur;stopur;tidszone;
Keywords[de]=Zeit;Zeitmesser;Erinnerung;Weltuhr;Stoppuhr;Zeitzone;
Keywords[en_GB]=time;timer;alarm;world clock;stopwatch;time zone;
Keywords[es]=hora;temporizador;alarma;reloj mundial;cronómetro;zona horaria;
Keywords[et]=kell;kellaaeg;häire;äratus;maailmakell;stopper;ajavöönd;
Keywords[fi]=time;timer;alarm;world clock;stopwatch;time zone;kello;ajastin;hälytys;maailmankello;sekuntikello;aikavyöhyke;
Keywords[gd]=time;timer;alarm;world clock;stopwatch;time zone;àm;ùine;tìmear;uaireadair an t-saoghail;uaireadair;saoghal;cleoc;gleoc;stad-uaireadair;roinn-tìde;
Keywords[gl]=tempo;hora;alarma;reloxo;reloxo mundial;cronómetro;fuso horario;temporizador;
Keywords[it]=ora;timer;sveglia;orologio mondiale;cronometro;fuso orario;
Keywords[ko]=시간;시계;알람;세계 시각;스톱워치;초시계;시간대;time;timer;alarm;world clock;stopwatch;time zone;
Keywords[nb]=tid;nedteller;varslingsur;verdensur;stoppeklokke;tidssone;
Keywords[nl]=tijd;timer;alarm;wereldklok;stopwatch;timezone;tijdzone;
Keywords[nn]=tid;tidtakar;alarm;varsling;verdsklokke;stoppeklokke;tidssone;
Keywords[pl]=czas;czasomierz;alarm;zegar światowy;stoper;strefa czasowa;
Keywords[pt]=hora;cronómetro;alarme;relógio mundial;temporizador;fuso-horário;
Keywords[pt_BR]=hora;cronômetro;alarme;relógio mundial;temporizador;fuso horário;
Keywords[ru]=время;таймер;часы;будильник;мировое время;секундомер;часовые пояса;
Keywords[sk]=čas;časovač;budík;svetový čas;stopky;časové pásmo;
Keywords[sl]=čas;odštevalnik;alarm;svetovna ura;časomer;časovni pas;
Keywords[sr]=time;timer;alarm;world clock;stopwatch;time zone;време;одбројавач;аларм;светски сат;штоперица;
Keywords[sr@ijekavian]=time;timer;alarm;world clock;stopwatch;time zone;време;одбројавач;аларм;светски сат;штоперица;
Keywords[sr@ijekavianlatin]=time;timer;alarm;world clock;stopwatch;time zone;vreme;odbrojavač;alarm;svetski sat;štoperica;
Keywords[sr@latin]=time;timer;alarm;world clock;stopwatch;time zone;vreme;odbrojavač;alarm;svetski sat;štoperica;
Keywords[sv]=tid;tidtagare;alarm;världsklocka;stoppur;tidszon;
Keywords[tr]=saat;zamanlayıcı;alarm;dünya saatleri;kronometre;saat dilimi;
Keywords[uk]=time;timer;alarm;world clock;stopwatch;time zone;час;таймер;нагадування;годинник;світ;секундомір;часовий;пояс;
Keywords[x-test]=xxtimexx;xxtimerxx;xxalarmxx;xxworld clockxx;xxstopwatchxx;xxtime zonexx;
Keywords[zh_CN]=time;timer;alarm;world clock;stopwatch;time zone;时间;计时器;闹钟;世界时钟;跑表;时区;
Keywords[zh_TW]=time;timer;alarm;world clock;stopwatch;time zone;
Exec=gnome-clocks
Icon=gnome-clocks
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;Clock;X-SuSE-TimeUtility;
StartupNotify=true
DBusActivatable=true
X-GNOME-UsesNotifications=true

