[Desktop Entry]
Exec=kfind %u
Icon=kfind
X-DocPath=kfind/index.html
Type=Application
Terminal=false
Name=KFind
Name[ca]=KFind
Name[ca@valencia]=KFind
Name[es]=KFind
Name[eu]=KFind
Name[fr]=KFind
Name[it]=KFind
Name[nl]=KFind
Name[pt]=KFind
Name[sv]=Kfind
Name[uk]=KFind
Name[x-test]=xxKFindxx
Name[zh_CN]=KFind
GenericName=Find Files/Folders
GenericName[ca]=Cerca fitxers i carpetes
GenericName[ca@valencia]=Busca fitxers i carpetes
GenericName[es]=Buscar archivos o carpetas
GenericName[eu]=Aurkitu fitxategiak/karpetak
GenericName[fr]=Trouver des fichiers ou dossiers
GenericName[it]=Trova file/cartelle
GenericName[nl]=Bestanden/mappen zoeken
GenericName[pt]=Procurar nos Ficheiros/Pastas
GenericName[sv]=Hitta filer och kataloger
GenericName[uk]=Пошук файлів та тек
GenericName[x-test]=xxFind Files/Foldersxx
GenericName[zh_CN]=查找文件/文件夹
X-KDE-StartupNotify=true
OnlyShowIn=KDE;
Categories=Qt;KDE;Utility;System;Filesystem;X-SuSE-core;
X-DBUS-ServiceName=org.kde.kfind

