[Desktop Entry]
GenericName=Character Selector
GenericName[af]=Karakter Kiesser
GenericName[ar]=أداة اختيار الرموز
GenericName[ast]=Seleutor de caráuteres
GenericName[bg]=Избор на знаци
GenericName[br]=Dibaber arouezenn
GenericName[bs]=Birač znakova
GenericName[ca]=Selector de caràcters
GenericName[ca@valencia]=Selector de caràcters
GenericName[cs]=Výběr znaků
GenericName[cy]=Dewisydd Nod
GenericName[da]=Tegnvælger
GenericName[de]=Tabelle zur Zeichenauswahl
GenericName[el]=Επιλογέας χαρακτήρων
GenericName[en_GB]=Character Selector
GenericName[eo]=Elektilo por signoj
GenericName[es]=Selector de caracteres
GenericName[et]=Sümbolite valija
GenericName[eu]=Karaktere-hautatzailea
GenericName[fa]=گزیننده نویسه
GenericName[fi]=Merkkivalitsin
GenericName[fr]=Sélecteur de caractères
GenericName[ga]=Roghnóir Carachtar
GenericName[gl]=Selector de caracteres
GenericName[he]=בוחר תווים
GenericName[hne]=अक्छर चुनइया
GenericName[hr]=Izbor znakova
GenericName[hu]=Karakterválasztó
GenericName[ia]=Selector de character
GenericName[id]=Selektor Karakter
GenericName[is]=Stafaval
GenericName[it]=Selettore di caratteri
GenericName[ja]=文字の選択
GenericName[kk]=Таңба тергіш
GenericName[km]=កម្មវិធី​ជ្រើស​តួអក្សរ
GenericName[ko]=문자 선택기
GenericName[lt]=Simbolių parinkimas
GenericName[lv]=Rakstzīmju atlasītājs
GenericName[mk]=Избирач на знаци
GenericName[mr]=अक्षर निवड
GenericName[ms]=Character Selector
GenericName[nb]=Tegnvelger
GenericName[nds]=Tekenköör
GenericName[ne]=क्यारेक्टर चयनकर्ता
GenericName[nl]=Speciale tekens
GenericName[nn]=Teiknveljar
GenericName[pa]=ਅੱਖਰ ਚੋਣਕਾਰ
GenericName[pl]=Tablica znaków
GenericName[pt]=Selector de Caracteres
GenericName[pt_BR]=Seletor de caracteres
GenericName[ro]=Selector de caractere
GenericName[ru]=Выбор символа
GenericName[sk]=Výber znakov
GenericName[sl]=Izbirnik znakov
GenericName[sq]=Zgjedhës i Gërmave
GenericName[sr]=Бирач знакова
GenericName[sr@ijekavian]=Бирач знакова
GenericName[sr@ijekavianlatin]=Birač znakova
GenericName[sr@latin]=Birač znakova
GenericName[sv]=Teckenväljare
GenericName[ta]= எழுத்து தேர்ந்தெடுப்பான்
GenericName[tg]=Интихобгари Аломатҳо
GenericName[th]=เครื่องมือเลือกอักขระ
GenericName[tr]=Karakter Seçici
GenericName[ug]=ھەرپ تاللىغۇچ
GenericName[uk]=Таблиця символів
GenericName[uz]=Harf tanlagich
GenericName[uz@cyrillic]=Ҳарф танлагич
GenericName[vi]=Trình Chọn Kí Tự 
GenericName[wa]=Tchoezixheu di caracteres
GenericName[xh]=Umkhethi womsebenzi
GenericName[x-test]=xxCharacter Selectorxx
GenericName[zh_CN]=字符选择器
GenericName[zh_TW]=字元選擇器
Exec=kcharselect --qwindowtitle %c
Icon=accessories-character-map
Type=Application
Terminal=false
X-DocPath=kcharselect/index.html
Name=KCharSelect
Name[af]=Kcharselect
Name[ar]=منتقي الحروف ك
Name[ast]=KCharSelect
Name[bg]=CharSelect
Name[br]=KCharSelect
Name[bs]=KCharSelect
Name[ca]=KCharSelect
Name[ca@valencia]=KCharSelect
Name[cs]=KCharSelect
Name[cy]=KDewisNod
Name[da]=KCharSelect
Name[de]=KCharSelect
Name[el]=KCharSelect
Name[en_GB]=KCharSelect
Name[eo]=KCharSelect
Name[es]=KCharSelect
Name[et]=KCharSelect
Name[eu]=KCharSelect
Name[fi]=KCharSelect
Name[fr]=KCharSelect
Name[ga]=KCharSelect
Name[gl]=KCharSelect
Name[he]=KCharSelect
Name[hne]=के-चर-सलेक्ट
Name[hr]=KCharSelect
Name[hu]=KCharSelect
Name[ia]=KCharSelect
Name[id]=KCharSelect
Name[is]=KCharSelect
Name[it]=KCharSelect
Name[ja]=KCharSelect
Name[kk]=KCharSelect
Name[km]=KCharSelect
Name[ko]=KCharSelect
Name[lt]=KCharSelect
Name[lv]=KCharSelect
Name[mk]=KCharSelect
Name[mr]=के-कॅर-सिलेक्ट
Name[ms]=KCharSelect
Name[nb]=KCharSelect
Name[nds]=KCharSelect
Name[ne]=केडीई क्यारेक्टर चयन
Name[nl]=Speciale tekens
Name[nn]=KCharSelect
Name[pa]=ਕੇ-ਅੱਖਰ ਚੁਣੋ
Name[pl]=KCharSelect
Name[pt]=KCharSelect
Name[pt_BR]=KCharSelect
Name[ro]=KCharSelect
Name[ru]=KCharSelect
Name[sk]=KCharSelect
Name[sl]=KCharSelect
Name[sq]=KCharSelect
Name[sr]=К‑бирач-знакова
Name[sr@ijekavian]=К‑бирач-знакова
Name[sr@ijekavianlatin]=K‑birač-znakova
Name[sr@latin]=K‑birač-znakova
Name[sv]=Kcharselect
Name[ta]= கேஎழுத்துதேர்வு 
Name[tg]=KИнтихобгари Аломатҳо
Name[th]=เลือกอักขระ-K
Name[tr]=KCharSelect
Name[ug]=KCharSelect
Name[uk]=KCharSelect
Name[uz]=KCharSelect
Name[uz@cyrillic]=KCharSelect
Name[vi]=KCharSelect
Name[wa]=KCharSelect
Name[xh]=Itshati yokukheta i K
Name[x-test]=xxKCharSelectxx
Name[zh_CN]=KCharSelect
Name[zh_TW]=KDE 字元選擇
StartupNotify=true
Categories=Qt;KDE;Utility;Accessibility;

