[Desktop Entry]
GenericName=Screen Capture Program
GenericName[ca]=Programa de captura de pantalla
GenericName[es]=Programa de captura de pantalla
GenericName[gl]=Programa para facer capturas de pantalla
GenericName[nl]=Schermafdrukprogramma
GenericName[pt]=Programa de Captura do Ecrã
GenericName[pt_BR]=Programa de captura de tela
GenericName[ru]=Создание снимков экрана
GenericName[sk]=Zachytenie obrazovky
GenericName[sv]=Program för att ta skärmbilder
GenericName[uk]=Програма для створення знімків вікон
GenericName[x-test]=xxScreen Capture Programxx
Name=KSnapshot
Name[ca]=KSnapshot
Name[es]=KSnapshot
Name[gl]=KSnapshot
Name[nl]=KSnapshot
Name[pt]=KSnapshot
Name[pt_BR]=KSnapshot
Name[ru]=KSnapshot
Name[sk]=KSnapshot
Name[sv]=KSnapshot
Name[uk]=KSnapshot
Name[x-test]=xxKSnapshotxx
MimeType=
Exec=ksnapshot -qwindowtitle %c
Icon=ksnapshot
Type=Application
Terminal=false
StartupNotify=false
X-DocPath=ksnapshot/index.html
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Graphics;
X-DBUS-ServiceName=org.kde.ksnapshot
