[Desktop Entry]
GenericName=Countdown Launcher
Exec=ktimer
Icon=ktimer
Type=Application
Terminal=false
Name=KTimer
StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Utility;
X-DocPath=ktimer/index.html
X-DBUS-ServiceName=org.kde.ktimer
