[Desktop Entry]
Exec=kfind %u
Icon=kfind
X-DocPath=kfind/index.html
Type=Application
Terminal=false
Name=Find Files/Folders
Name[ast]=Alcontrar ficheros/carpetes
Name[ca]=Cerca de fitxers/carpetes
Name[ca@valencia]=Cerca de fitxers/carpetes
Name[cs]=Najít soubory/složky
Name[da]=Find filer/mapper
Name[de]=Dateien/Ordner suchen
Name[el]=Εύρεση αρχείων/φακέλων
Name[en_GB]=Find Files/Folders
Name[es]=Buscar archivos o carpetas
Name[et]=Failide/kataloogide otsimine
Name[fi]=Etsi tiedostoja ja kansioita
Name[gd]=Lorg faidhlichean/pasgain
Name[gl]=Buscar ficheiros/cartafoles
Name[ia]=Cerca Files/Dossieres
Name[it]=Trova file/cartelle
Name[ko]=파일/폴더 찾기
Name[nb]=Finn filer/mapper
Name[nl]=Bestanden/mappen zoeken
Name[nn]=Finn filer/mapper
Name[pl]=Wyszukiwanie plików/katalogów
Name[pt]=Procurar nos Ficheiros/Pastas
Name[pt_BR]=Procurar arquivos/pastas
Name[ru]=Поиск файлов и папок
Name[sk]=Nájsť súbory/priečinky
Name[sl]=Najdi datoteke/mape
Name[sr]=К‑налазач
Name[sr@ijekavian]=К‑налазач
Name[sr@ijekavianlatin]=K‑nalazač
Name[sr@latin]=K‑nalazač
Name[sv]=Hitta filer och kataloger
Name[tr]=Dosya/Dizin Bul
Name[uk]=Пошук файлів та тек
Name[x-test]=xxFind Files/Foldersxx
Name[zh_CN]=搜索文件/文件夹
Name[zh_TW]=尋找檔案/資料夾
X-KDE-StartupNotify=true
OnlyShowIn=KDE;
Categories=Qt;KDE;Core;
X-DBUS-ServiceName=org.kde.kfind
