[Desktop Entry]
GenericName=Character Selector
GenericName[ca]=Selector de caràcters
GenericName[ca@valencia]=Selector de caràcters
GenericName[cs]=Výběr znaků
GenericName[da]=Tegnvælger
GenericName[en_GB]=Character Selector
GenericName[es]=Selector de caracteres
GenericName[eu]=Karaktere hautatzailea
GenericName[fr]=Sélecteur de caractères
GenericName[it]=Selettore di caratteri
GenericName[nl]=Speciale tekens
GenericName[pt]=Selector de Caracteres
GenericName[sr]=Бирач знакова
GenericName[sr@ijekavian]=Бирач знакова
GenericName[sr@ijekavianlatin]=Birač znakova
GenericName[sr@latin]=Birač znakova
GenericName[sv]=Teckenväljare
GenericName[uk]=Вибір символів
GenericName[x-test]=xxCharacter Selectorxx
GenericName[zh_CN]=字符选择器
GenericName[zh_TW]=字元選擇器
Exec=kcharselect --qwindowtitle %c
Icon=accessories-character-map
Type=Application
Terminal=false
X-DocPath=kcharselect/index.html
Name=KCharSelect
Name[ca]=KCharSelect
Name[ca@valencia]=KCharSelect
Name[cs]=KCharSelect
Name[da]=KCharSelect
Name[en_GB]=KCharSelect
Name[es]=KCharSelect
Name[eu]=KCharSelect
Name[fr]=KCharSelect
Name[it]=KCharSelect
Name[nl]=KCharSelect
Name[pt]=KCharSelect
Name[ru]=KCharSelect
Name[sr]=К‑бирач-знакова
Name[sr@ijekavian]=К‑бирач-знакова
Name[sr@ijekavianlatin]=K‑birač-znakova
Name[sr@latin]=K‑birač-znakova
Name[sv]=Kcharselect
Name[uk]=KCharSelect
Name[x-test]=xxKCharSelectxx
Name[zh_TW]=KCharSelect
StartupNotify=true
Categories=Qt;KDE;Utility;Accessibility;

