[Desktop Entry]
Type=Application
Exec=kmousetool -qwindowtitle %c
Icon=kmousetool
X-DocPath=kmousetool/index.html
Comment=Clicks the mouse for you, reducing the effects of RSI
Comment[ca]=Fa els clics del ratolí, reduint els efectes del RSI (índex de força relativa)
Comment[eu]=Zure ordez saguaren klik eragiten du, RSIren efektuak murriztuz (Esfortzu Errepikakorragatik Lesioa)
Comment[fr]=Clique sur la souris à votre place, limitant les douleurs liées aux TMS (Troubles Musculo-Squelettiques)
Comment[nl]=Klikt de muisknop voor u, vermindert de effecten van RSI
Comment[pt]=Carrega no rato por si, aliviando dores motivadas por RSI
Comment[sv]=Klickar musen åt dig, för att mildra smärta från musarm
Comment[uk]=Клацає мишкою за вас, зменшуючи ймовірність больового синдрому у зап'ясті
Comment[x-test]=xxClicks the mouse for you, reducing the effects of RSIxx
Terminal=false
Name=KMouseTool
Name[ca]=KMouseTool
Name[es]=KMouseTool
Name[eu]=KMouseTool
Name[fr]=KMouseTool
Name[nl]=KMouseTool
Name[pt]=KMouseTool
Name[sv]=Kmousetool
Name[uk]=KMouseTool
Name[x-test]=xxKMouseToolxx
GenericName=Automatic Mouse Click
GenericName[ca]=Clic automàtic del ratolí
GenericName[eu]=Saguaren klik automatikoa
GenericName[fr]=Clic de souris automatique
GenericName[nl]=Automatische muisklik
GenericName[pt]=Botão do Rato Automático
GenericName[sv]=Automatiska musklick
GenericName[uk]=Автоматичне клацання кнопками миші
GenericName[x-test]=xxAutomatic Mouse Clickxx
Categories=Qt;KDE;Utility;Accessibility;
X-DBUS-ServiceName=org.kde.kmousetool


