[Desktop Entry]
GenericName=Screen Capture Program
GenericName[ca]=Programa de captura de pantalla
GenericName[de]=Bildschirmfoto-Programm
GenericName[es]=Programa de captura de pantalla
GenericName[fi]=Kuvankaappausohjelma
GenericName[gl]=Programa para facer capturas de pantalla
GenericName[nb]=Skjermbildeprogram
GenericName[nl]=Schermafdrukprogramma
GenericName[pl]=Program do zrzutów ekranu
GenericName[pt]=Programa de Captura do Ecrã
GenericName[pt_BR]=Programa de captura de tela
GenericName[ru]=Создание снимков экрана
GenericName[sk]=Zachytenie obrazovky
GenericName[sr]=Програм за хватање екрана
GenericName[sr@ijekavian]=Програм за хватање екрана
GenericName[sr@ijekavianlatin]=Program za hvatanje ekrana
GenericName[sr@latin]=Program za hvatanje ekrana
GenericName[sv]=Program för att ta skärmbilder
GenericName[uk]=Програма для створення знімків вікон
GenericName[x-test]=xxScreen Capture Programxx
GenericName[zh_TW]=畫面擷取程式
Name=KSnapshot
Name[ca]=KSnapshot
Name[de]=KSnapshot
Name[es]=KSnapshot
Name[fi]=KSnapshot
Name[gl]=KSnapshot
Name[nb]=KSnapshot
Name[nl]=KSnapshot
Name[pl]=KSnapshot
Name[pt]=KSnapshot
Name[pt_BR]=KSnapshot
Name[ru]=KSnapshot
Name[sk]=KSnapshot
Name[sr]=К‑снимак
Name[sr@ijekavian]=К‑снимак
Name[sr@ijekavianlatin]=K‑snimak
Name[sr@latin]=K‑snimak
Name[sv]=KSnapshot
Name[uk]=KSnapshot
Name[x-test]=xxKSnapshotxx
Name[zh_TW]=影像擷取_KSnapshot
MimeType=
Exec=ksnapshot -qwindowtitle %c
Icon=ksnapshot
Type=Application
Terminal=false
StartupNotify=false
X-DocPath=ksnapshot/index.html
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Graphics;
X-DBUS-ServiceName=org.kde.ksnapshot
