### todo fix upstream: remove shebang #!/usr/bin/env xdg-open
[Desktop Entry]
X-SuSE-translate=true
Name=Clocks
GenericName=Clocks
X-GNOME-FullName=GNOME Clocks
X-GNOME-FullName[af]=GNOME Horlosies
X-GNOME-FullName[an]=Reloches d'o GNOME 
X-GNOME-FullName[ar]=ساعات جنوم
X-GNOME-FullName[as]=GNOME ঘড়ী
X-GNOME-FullName[be]=Гадзіннікі GNOME
X-GNOME-FullName[bg]=Часовници
X-GNOME-FullName[bn_IN]=GNOME ঘড়ি
X-GNOME-FullName[ca]=Rellotges del GNOME
X-GNOME-FullName[ca@valencia]=Rellotges del GNOME
X-GNOME-FullName[cs]=Hodiny GNOME
X-GNOME-FullName[da]=GNOME Ure
X-GNOME-FullName[de]=GNOME-Uhren
X-GNOME-FullName[el]=Ρολόγια του GNOME
X-GNOME-FullName[en_GB]=GNOME Clocks
X-GNOME-FullName[eo]=GNOME-horloĝoj
X-GNOME-FullName[es]=Relojes de GNOME
X-GNOME-FullName[et]=GNOME kell
X-GNOME-FullName[eu]=GNOMEren ordulariak
X-GNOME-FullName[fa]=ساعت‌های گنوم
X-GNOME-FullName[fi]=Gnomen kellot
X-GNOME-FullName[fr]=Horloges GNOME
X-GNOME-FullName[fur]=Orlois par GNOME
X-GNOME-FullName[ga]=Cloig GNOME
X-GNOME-FullName[gd]=Uaireadairean GNOME
X-GNOME-FullName[gl]=Reloxos de GNOME
X-GNOME-FullName[gu]=GNOME ઘડિયાળ
X-GNOME-FullName[he]=שעונים מבית GNOME
X-GNOME-FullName[hi]=गनोम घड़ी
X-GNOME-FullName[hu]=GNOME órák
X-GNOME-FullName[id]=Jam GNOME
X-GNOME-FullName[it]=Orologi per GNOME
X-GNOME-FullName[ja]=GNOME Clocks
X-GNOME-FullName[kk]=GNOME Clocks
X-GNOME-FullName[kn]=GNOME ಕ್ಲಾಕ್ಸ್
X-GNOME-FullName[ko]=그놈 시계
X-GNOME-FullName[lt]=GNOME laikrodžiai
X-GNOME-FullName[lv]=GNOME pulksteņi
X-GNOME-FullName[ml]=ഗ്നോം ഘടികാരങ്ങള്‍
X-GNOME-FullName[mr]=GNOME घड्याळी
X-GNOME-FullName[nb]=GNOME klokker
X-GNOME-FullName[ne]=जिनोम घडी
X-GNOME-FullName[nl]=Gnome Klok
X-GNOME-FullName[or]=GNOME ଘଣ୍ଟାଗୁଡ଼ିକ
X-GNOME-FullName[pa]=ਗਨੋਮ ਘੜੀ
X-GNOME-FullName[pl]=Zegar GNOME
X-GNOME-FullName[pt]=Relógios GNOME
X-GNOME-FullName[pt_BR]=Relógios do GNOME
X-GNOME-FullName[ro]=GNOME Clocks
X-GNOME-FullName[ru]=Часы GNOME
X-GNOME-FullName[sk]=Hodiny prostredia GNOME
X-GNOME-FullName[sl]=Gnomeove ure
X-GNOME-FullName[sr]=Гномови сатови
X-GNOME-FullName[sr@latin]=Gnomovi satovi
X-GNOME-FullName[sv]=GNOME Klockor
X-GNOME-FullName[ta]=க்னோம் கடிகாரங்கள்
X-GNOME-FullName[te]=గ్నోమ్ గడియారాలు
X-GNOME-FullName[tg]=Соатҳои GNOME
X-GNOME-FullName[th]=นาฬิกา GNOME
X-GNOME-FullName[tr]=GNOME Saatleri
X-GNOME-FullName[ug]=گىنوم سائەتلىرى
X-GNOME-FullName[uk]=Годинники GNOME
X-GNOME-FullName[vi]=Đồng hồ GNOME
X-GNOME-FullName[zh_CN]=GNOME 时钟
X-GNOME-FullName[zh_HK]=GNOME Clocks
X-GNOME-FullName[zh_TW]=GNOME Clocks
Comment=Clocks for world times, plus alarms, stopwatch and a timer
Keywords=time;timer;alarm;world clock;stopwatch;time zone;
Keywords[af]=time;timer;alarm;world clock;stopwatch;time zone;tyd;tydteller;wekker;wêreldtyd;stophorlosie;tydsone;tydhou;
Keywords[an]=Hora;Temporizador;Alarma;Hora mundial;Cronometro;Zona horaria;
Keywords[ar]=وقت;موقت;منبه;ساعة عالمية;ساعة إيقاف;منطقة زمنية;
Keywords[as]=time;timer;alarm;world clock;stopwatch;time zone;
Keywords[be]=час;таймер;гадзіннік;будзільнік;сусветны гадзіннік;секундамер;часавы пояс;
Keywords[bg]=време;отброяване;напомняне;часовник;секундомер;пояс;хронометър;time;timer;alarm;world clock;stopwatch;time zone;
Keywords[bn_IN]=সময়;টাইমার;অ্যালার্ম;বিশ্বঘড়ি;স্টপওয়াচ;সময় জোন;
Keywords[ca]=temps;temporitzador;alarma;rellotge global;cronòmetre;zona horària;
Keywords[ca@valencia]=temps;temporitzador;alarma;rellotge global;cronòmetre;zona horària;
Keywords[cs]=čas;časovač;minutka;odpočet;budík;světový čas;stopky;časové pásmo;
Keywords[da]=tid;alarm;vækkeur;verdensur;stopur;ur;tidszone;klokken;
Keywords[de]=Zeit;Uhrzeit;Alarm;Weltuhr;Stoppuhr;Zeitzone;
Keywords[el]=χρόνος;χρονόμετρο;ξυπνητήρι;παγκόσμιο ρολόι;χρονόμετρο;ώρα ζώνης;time;timer;alarm;world clock;stopwatch;time zone;
Keywords[en_GB]=time;timer;alarm;world clock;stopwatch;time zone;
Keywords[eo]=horo;minutatoro;alarmo;monda horloĝo;kronometro;horzono;
Keywords[es]=Hora;Temporizador;Alarma;Hora mundial;Cronómetro;Zona horaria;
Keywords[et]=aeg;kell;kuupäev;taimer;alarm;äratus;maailmakell;stopper;ajavöönd;ajatsoon;
Keywords[eu]=ordua;tenporizadorea;alarma;munduko ordulariak;kronometroa;ordu-zona;
Keywords[fa]=زمان;زمانسنج;زنگ;ساعت جهانی;stopwatch;منطقه زمانی;
Keywords[fi]=time;timer;alarm;world clock;stopwatch;time zone;aika;ajastin;hälytys;maailmankello;aikavyöhyke;
Keywords[fr]=heure;minuterie;décompte;alarme;horloge mondiale;chronomètre;fuseau horaire;
Keywords[fur]=ore;orari;timp;orloi;cronometri;fûs orari;svee;alarme;
Keywords[gd]=time;timer;alarm;world clock;stopwatch;time zone;àm;ùine;tìmear;uaireadair an t-saoghail;uaireadair;saoghal;cleoc;gleoc;stad-uaireadair;roinn-tìde;
Keywords[gl]=tempo;temporizador;alarma;reloxo mundial;reloxo de parada;fuso horario;
Keywords[gu]=સમય;ટાઇમર;એલાર્મ;વિશ્ર્વ ઘડિયાળો;સ્ટોપવૉચ;ટાઇમઝોન;
Keywords[he]=זמן;שעה;טיימר;קוצב זמן;שעון עולמי;שעון עצר;סטופר;אזור זמן;שעון;
Keywords[hi]=समय; टाइमर;अलार्म;दुनिया घड़ी; स्टॉपवॉच; समय क्षेत्र;
Keywords[hu]=idő;időzítő;riasztás;világóra;stopper;időzóna;
Keywords[id]=time;timer;alarm;world clock;stopwatch;time zone;jam;waktu;
Keywords[it]=ora;orario;tempo;orologio;cronometro;fuso orario;sveglia;allarme;
Keywords[ja]=time;timer;alarm;world clock;stopwatch;time zone;時間;時刻;タイム;タイマー;アラーム;世界時計;時計;ストップウォッチ;ストップウオッチ;タイムゾーン;
Keywords[kk]=уақыт;таймер;оятқыш;дүниежүзі сағаты;секундтар өлшегіші;уақыт белдеуі;
Keywords[kn]=ಸಮಯ;ಟೈಮರ್;ಅಲಾರಂ;ಪ್ರಪಂಚದ ಗಡಿಯಾರ;ಸ್ಟಾಪ್‌ವಾಚ್;ಕಾಲ ವಲಯ;
Keywords[ko]=time;시간;timer;타이머;alarm;알림;world clock;세계 시계;stopwatch;스톱워치;time zone;시간대;
Keywords[lt]=laikas;laikmatis;žadintuvas;pasaulio laikrodis;chronometras;laiko juosta;
Keywords[lv]=laiks;taimeris;modinātājs;pasaules pulkstenis;hronometrs;laika zona;signāls;
Keywords[ml]=സമയം;ടൈമര്‍;അലാറം;ലോക ഘടികാരം;സ്റ്റോപ്പ്‌വാച്ച്;സമയമേഖല;
Keywords[mr]=वेळ;टाइमर;गजर;जागतिक घड्याळ;स्टॉपवॉच;वेळ क्षेत्र;
Keywords[nb]=tid;nedtelling;alarm;verdensur;stoppeklokke;tidssone;
Keywords[nl]=time;timer;alarm;world clock;stopwatch;time zone;klok;tijd;wekker;wereldtijd;wereldklok;tijdzone;
Keywords[or]=ସମୟ;ସମୟ ମାପକ;ଆଲାର୍ମ;ବିଶ୍ୱ ସମୟ;ଷ୍ଟପ ୱାଚ;ସମୟ ମଣ୍ଡଳ;
Keywords[pa]=ਸਮਾਂ;ਟਾਈਮ;ਟਾਈਮਰ;ਅਲਾਰਮ;ਸੰਸਾਰ ਘੜੀ;ਸਟਾਪਵਾਚ;ਸਮਾਂ ਖੇਤਰ;ਟਾਈਮ ਜ਼ੋਨ;time;timer;alarm;world clock;stopwatch;time zone;
Keywords[pl]=czas;minutnik;timer;budzik;alarm;zegar światowy;stoper;strefa czasowa;
Keywords[pt]=horas;temporizador;alarme;relógio mundial;cronómetro;fuso horário;
Keywords[pt_BR]=hora;temporizador;alarme;relógio mundial;cronômetro;fuso horário;
Keywords[ro]=timp;temporizator;fus orar;cronometru;alarmă;time;timer;alarm;world clock;stopwatch;time zone;
Keywords[ru]=время;таймер;будильник;мировое время;часовой пояс;
Keywords[sk]=čas;časovač;budík;svetový čas;stopky;časová zóna;
Keywords[sl]=čas;časomer;alarm;svetovne ure;štoparica;časovni pas;
Keywords[sr]=време;одбројавач;аларм;будилник;светски сат;штоперица;временска зона;
Keywords[sr@latin]=vreme;odbrojavač;alarm;budilnik;svetski sat;štoperica;vremenska zona;
Keywords[sv]=tid;timer;alarm:världsklocka;världsur;stoppur;tidszon;
Keywords[ta]=நேரம்;நேர அளவி;எச்சரிப்பான்;உலக கடிகாரம்;நிறுத்தக் கடிகாரம்;காலப்பகுதி;
Keywords[te]=సమయం;సమయకం;అలారం;ప్రపంచ గడియారం;స్టాప్‌వాచ్;సమయక్షేత్రం;
Keywords[tg]=вақт;вақтсанҷ;ҳушдор;соати ҷаҳон;сонияшумор;минтақаи вақт;
Keywords[tr]=saat;zaman;geri sayım;alarm;dünya saatleri;kronometre;saat dilimi;
Keywords[ug]=time;timer;alarm;world clock;stopwatch;time zone;ۋاقىت;ئۆلچىگۈچ;قوڭغۇراق;دۇنيا سائىتى;ۋاقىت رايونى;
Keywords[uk]=час;таймер;будильник;світовий;секундомір;часовий пояс;
Keywords[vi]=time;thời;gian;thoi;;timer;hẹn;giờ;hen;gio;alarm;world clock;đồng;hồ;dong;ho;stopwatch;time zone;múi;mui;
Keywords[zh_CN]=time;timer;alarm;world clock;stopwatch;time zone;钟;表;定时;计时;时间;时区;
Keywords[zh_HK]=time;timer;alarm;world clock;stopwatch;time zone;時間;計時器;鬧鐘;鬧鈴;世界時鐘;碼表;時區;
Keywords[zh_TW]=time;timer;alarm;world clock;stopwatch;time zone;時間;計時器;鬧鐘;鬧鈴;世界時鐘;碼表;時區;
Exec=gnome-clocks
Icon=gnome-clocks
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;Clock;X-SuSE-TimeUtility;
StartupNotify=true
DBusActivatable=true
X-GNOME-UsesNotifications=true

