[Desktop Entry]
GenericName=Screenshot Capture Utility
GenericName[ca]=Utilitat de captura de pantalla
GenericName[es]=Utilidad de capturas de pantalla
GenericName[fi]=Kuvankaappausohjelma
GenericName[gl]=Utilidade para facer capturas de pantalla
GenericName[nl]=Hulpmiddel voor het vangen van een schermafdruk
GenericName[pl]=Narzędzie do przechwytywania ekranu
GenericName[pt]=Utilitário de Captura de Imagens
GenericName[pt_BR]=Utilitário de captura de tela
GenericName[ru]=Создание снимков экрана
GenericName[sk]=Nástroj na zachytávanie obrazovky
GenericName[sr]=Алатка за хватање снимака екрана
GenericName[sr@ijekavian]=Алатка за хватање снимака екрана
GenericName[sr@ijekavianlatin]=Alatka za hvatanje snimaka ekrana
GenericName[sr@latin]=Alatka za hvatanje snimaka ekrana
GenericName[sv]=Verktyg för att ta skärmbilder
GenericName[uk]=Програма для створення знімків вікон
GenericName[x-test]=xxScreenshot Capture Utilityxx
GenericName[zh_TW]=畫面擷取工具
Name=KScreenGenie
Name[ca]=KScreenGenie
Name[es]=KScreenGenie
Name[fi]=KScreenGenie
Name[gl]=KScreenGenie
Name[nl]=KScreenGenie
Name[pl]=KEkranowyGeniusz
Name[pt]=KScreenGenie
Name[pt_BR]=KScreenGenie
Name[ru]=KScreenGenie
Name[sk]=KScreenGenie
Name[sr]=K‑скринџини
Name[sr@ijekavian]=K‑скринџини
Name[sr@ijekavianlatin]=KScreenGenie
Name[sr@latin]=KScreenGenie
Name[sv]=KScreenGenie
Name[uk]=KScreenGenie
Name[x-test]=xxKScreenGeniexx
Name[zh_TW]=KScreenGenie
Categories=Qt;KDE;Utility;
MimeType=
Exec=kscreengenie
Icon=kscreengenie
Type=Application
Terminal=false
StartupNotify=false


