[Desktop Entry]
GenericName=Countdown Launcher
GenericName[ar]=مطلق العدّ التنازلى
GenericName[bg]=Хронометър
GenericName[bs]=Pokretač odbrojavanja
GenericName[ca]=Llançador amb compte enrere
GenericName[ca@valencia]=Llançador amb compte arrere
GenericName[cs]=Stopky
GenericName[cy]=Cychwynydd Cyfrif yn Ôl
GenericName[da]=Nedtællingsstarter
GenericName[de]=Startet den Zähler
GenericName[el]=Αντίστροφη μέτρηση για την ενεργοποίηση λογισμικού
GenericName[en_GB]=Countdown Launcher
GenericName[es]=Lanzador de cuenta atrás
GenericName[et]=Ajaarvestuse käivitaja
GenericName[eu]=Atzekoz aurrerako zenbaketaren jaurtitzailea
GenericName[fa]=راه‌انداز شمارش معکوس
GenericName[fi]=Lähtölaskenta
GenericName[fr]=Lanceur de compte à rebours
GenericName[ga]=Tosaitheoir Comhairimh Síos
GenericName[gl]=Iniciador en conta-atrás
GenericName[hne]=उलटी गिनती चालू करइया
GenericName[hr]=Pokretač odbrojavanja
GenericName[hu]=Visszaszámláló
GenericName[ia]=Lanceator de computo a retro
GenericName[id]=Peluncur dengan Hitungan Waktu
GenericName[is]=Niðurteljari
GenericName[it]=Conto alla rovescia
GenericName[ja]=タイマー
GenericName[kk]=Кері санақ
GenericName[km]=កម្មវិធី​ចាប់ផ្ដើម​កា​ររាប់​ថយក្រោយ
GenericName[ko]=카운트다운 실행기
GenericName[lt]=Laiko skaičiuoklė
GenericName[lv]=Laika atskaites palaidējs
GenericName[mr]=काउंटडाउन प्रक्षेपक
GenericName[nb]=Nedtellingstarter
GenericName[nds]=Teller starten
GenericName[ne]=काउन्टडाउन सुरुआतकर्ता
GenericName[nl]=Afteller
GenericName[nn]=Nedteljing
GenericName[pa]=ਪੁੱਠੀ ਗਿਣਤੀ ਸ਼ੁਰੂਆਤੀ ਲਾਂਚਰ
GenericName[pl]=Odliczanie
GenericName[pt]=Contagem Decrescente
GenericName[pt_BR]=Lançador de contagem regressiva
GenericName[ro]=Cronometru
GenericName[ru]=Обратный отсчёт
GenericName[sk]=Odpočítavané spúšťanie
GenericName[sl]=Zaganjalnik odštevanja
GenericName[sq]=Nisës i Numërimit Mbrapsht
GenericName[sr]=Покретач одбројавања
GenericName[sr@ijekavian]=Покретач одбројавања
GenericName[sr@ijekavianlatin]=Pokretač odbrojavanja
GenericName[sr@latin]=Pokretač odbrojavanja
GenericName[sv]=Nerräknande startprogram
GenericName[ta]= குறிப்பு எடுப்பான் நேரக்குறைப்பான்
GenericName[th]=ตัวเรียกใช้งานแบบนับถอยหลัง
GenericName[tr]=Gerisayım Çalıştırıcı
GenericName[ug]=تەتۈر سانىغۇچنى ئجرا قىلغۇچ
GenericName[uk]=Таймер
GenericName[wa]=Usteye di munutreye
GenericName[x-test]=xxCountdown Launcherxx
GenericName[zh_CN]=倒计时执行器
GenericName[zh_TW]=倒數發射計時
Exec=ktimer
Icon=ktimer
Type=Application
Terminal=false
Name=KTimer
Name[af]=Ktimer
Name[ar]=KTimer
Name[bg]=KTimer
Name[br]=KTimer
Name[bs]=KTimer
Name[ca]=KTimer
Name[ca@valencia]=KTimer
Name[cs]=KTimer
Name[cy]=KTimer
Name[da]=KTimer
Name[de]=KTimer
Name[el]=KTimer
Name[en_GB]=KTimer
Name[eo]=KTimer
Name[es]=KTimer
Name[et]=KTimer
Name[eu]=KTimer
Name[fi]=KTimer
Name[fr]=KTimer
Name[ga]=KTimer
Name[gl]=KTimer
Name[he]=KTimer
Name[hne]=के-टाइमर
Name[hr]=KTimer
Name[hu]=KTimer
Name[ia]=KTimer
Name[id]=KTimer
Name[is]=KTimer
Name[it]=KTimer
Name[ja]=KTimer
Name[kk]=KTimer
Name[km]=KTimer
Name[ko]=KTimer
Name[lt]=KTimer
Name[lv]=KTimer
Name[mk]=KTimer
Name[mr]=के-टाइमर
Name[ms]=KTimer
Name[nb]=KTimer
Name[nds]=KTimer
Name[ne]=केडीई समय सूचक
Name[nl]=KTimer
Name[nn]=KTimer
Name[pa]=KTimer
Name[pl]=Czasomierz
Name[pt]=KTimer
Name[pt_BR]=KTimer
Name[ro]=KTimer
Name[ru]=KTimer
Name[sk]=KTimer
Name[sl]=KTimer
Name[sq]=KTimer
Name[sr]=К‑одбројавач
Name[sr@ijekavian]=К‑одбројавач
Name[sr@ijekavianlatin]=K‑odbrojavač
Name[sr@latin]=K‑odbrojavač
Name[sv]=Ktimer
Name[ta]= Kநேரம் காட்டி
Name[tg]=KВақтсанҷ
Name[th]=ตั้งเวลาทำงาน-K
Name[tr]=KTimer
Name[ug]=KTimer
Name[uk]=KTimer
Name[uz]=KTimer
Name[uz@cyrillic]=KTimer
Name[vi]=KTimer
Name[wa]=KTimer
Name[xh]=Umjongi Wexesha
Name[x-test]=xxKTimerxx
Name[zh_CN]=KTimer
Name[zh_TW]=KDE 計時器
StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Utility;
X-DocPath=ktimer/index.html
X-DBUS-ServiceName=org.kde.ktimer
