# KDE Config File
[Desktop Entry]
Name=Filelight
Name[ca]=Filelight
Name[es]=Filelight
Name[fi]=Filelight
Name[nl]=Filelight
Name[pt]=Filelight
Name[pt_BR]=Filelight
Name[sk]=Filelight
Name[sv]=Filelight
Name[uk]=Filelight
Name[x-test]=xxFilelightxx
Name[zh_CN]=Filelight
GenericName=Disk Usage Statistics
GenericName[ca]=Estadístiques d'ús de disc
GenericName[es]=Estadísticas de uso del disco
GenericName[fi]=Levynkäyttötilastot
GenericName[nl]=Gebruiksstatistieken van schijven
GenericName[pt]=Estatísticas de Utilização do Disco
GenericName[pt_BR]=Estatísticas de uso do disco
GenericName[sk]=Štatistiky využitia disku
GenericName[sv]=Statistik över diskanvändning
GenericName[uk]=Статистика використання диска
GenericName[x-test]=xxDisk Usage Statisticsxx
GenericName[zh_CN]=磁盘使用统计
Type=Application
Exec=filelight %f
Icon=filelight
Comment=View disk usage information
Comment[ca]=Veure la informació d'ús de disc
Comment[es]=Ver información sobre el uso del disco
Comment[fi]=Näytä levynkäyttö
Comment[nl]=Informatie over schijfgebruik bekijken
Comment[pt]=Ver a informação de utilização do disco
Comment[pt_BR]=Exibe informações sobre a utilização do disco
Comment[sk]=Zobrazenie informácií o využití disku
Comment[sv]=Visa information om hårddiskanvändning
Comment[uk]=Перегляд інформації щодо використання дисків
Comment[x-test]=xxView disk usage informationxx
Comment[zh_CN]=查看磁盘使用信息
Terminal=false
MimeType=inode/directory;
X-DocPath=filelight/index.html
Categories=Qt;KDE;Utility;
X-DBUS-ServiceName=org.kde.filelight
