[Desktop Entry]
GenericName=Character Selector
Exec=kcharselect --qwindowtitle %c
Icon=accessories-character-map
Type=Application
Terminal=false
X-DocPath=kcharselect/index.html
Name=KCharSelect
StartupNotify=true
Categories=Qt;KDE;Utility;Accessibility;

