#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=KDE Partition Manager
Name[ca]=Gestor de particions del KDE
Name[es]=Gestor de particiones de KDE
Name[fi]=KDE:n osionhallinta
Name[it]=Gestore delle partizioni di KDE
Name[nl]=KDE Partitiebeheerder
Name[pl]=Zarządzanie partycjami
Name[pt]=Gestor de Partições do KDE
Name[pt_BR]=Gerenciador de Partições do KDE
Name[sk]=KDE Správca partícií
Name[sl]=Upravljalnik razdelkov za KDE
Name[sr]=КДЕ‑ов менаџер партиција
Name[sr@ijekavian]=КДЕ‑ов менаџер партиција
Name[sr@ijekavianlatin]=KDE‑ov menadžer particija
Name[sr@latin]=KDE‑ov menadžer particija
Name[sv]=KDE:s partitionshanterare
Name[uk]=Редактор розділів для KDE
Name[x-test]=xxKDE Partition Managerxx
Name[zh_CN]=KDE 分区管理器
GenericName=Partition Editor
GenericName[ca]=Editor de particions
GenericName[es]=Editor de particiones
GenericName[fi]=Osionhallinta
GenericName[it]=Editor delle partizioni
GenericName[nl]=Partitiebewerker
GenericName[pl]=Edytor partycji
GenericName[pt]=Editor de Partições
GenericName[pt_BR]=Editor de partições
GenericName[sk]=Editor partícií
GenericName[sl]=Urejevalnik razdelkov
GenericName[sr]=Уређивач партиција
GenericName[sr@ijekavian]=Уређивач партиција
GenericName[sr@ijekavianlatin]=Uređivač particija
GenericName[sr@latin]=Uređivač particija
GenericName[sv]=Partitionseditor
GenericName[uk]=Редактор розділів на дисках
GenericName[x-test]=xxPartition Editorxx
GenericName[zh_CN]=分区编辑器
Comment=Manage disks, partitions and file systems
Comment[ca]=Gestiona discos, particions i sistemes de fitxers
Comment[es]=Gestionar discos, particiones y sistemas de archivos
Comment[fi]=Hallitse levyjä, osioita ja tiedostojärjestelmiä
Comment[it]=Gestisci dischi, partizioni e filesystem
Comment[nl]=Beheer schijven, partities en bestandssystemen
Comment[pl]=Zarządzaj dyskami, partycjami i systemami plików
Comment[pt]=Faz a gestão de discos, partições e sistemas de ficheiros
Comment[pt_BR]=Gerencia discos, partições e sistemas de arquivos
Comment[sk]=Spravuje disky, partície a súborové systémy
Comment[sl]=Upravljajte z diski, razdelki in datotečnimi sistemi
Comment[sr]=Управљајте дисковима, партицијама и фајл системима
Comment[sr@ijekavian]=Управљајте дисковима, партицијама и фајл системима
Comment[sr@ijekavianlatin]=Upravljajte diskovima, particijama i fajl sistemima
Comment[sr@latin]=Upravljajte diskovima, particijama i fajl sistemima
Comment[sv]=Hantera hårddiskar, partitioner och filsystem
Comment[uk]=Керуйте дисками, розділами та файловими системами
Comment[x-test]=xxManage disks, partitions and file systemsxx
Comment[zh_CN]=管理磁盘、分区和文件系统
Exec=partitionmanager
Icon=partitionmanager
Categories=System;Filesystem;KDE;Qt;

X-KDE-SubstituteUID=true
X-KDE-StartupNotify=true



