# For KMoreTools: Fixes Exec line
#
# TODO upstream: The icon qgit.png is installed somewhere with qgit
#  but not specified (and not reachable
#  in .desktop file. This should be fixed upstream.

[Desktop Entry]
X-SuSE-translate=true
Name=QGit
Name[ca]=QGit
Name[es]=QGit
Name[fi]=QGit
Name[nl]=QGit
Name[pt]=QGit
Name[pt_BR]=QGit
Name[sk]=QGit
Name[sv]=QGit
Name[uk]=QGit
Name[x-test]=xxQGitxx
Name[zh_CN]= 
GenericName=QGit
GenericName[ca]=QGit
GenericName[es]=QGit
GenericName[fi]=QGit
GenericName[nl]=QGit
GenericName[pt]=QGit
GenericName[pt_BR]=QGit
GenericName[sk]=QGit
GenericName[sv]=QGit
GenericName[uk]=QGit
GenericName[x-test]=xxQGitxx
GenericName[zh_CN]= 
Comment=git repository browser
Comment[ca]=Navegador pel repositori Git
Comment[es]=Explorador del repositorio Git
Comment[fi]=git-varastokatselin
Comment[nl]=browser van git-repository
Comment[pt]=Navegador de repositórios do Git
Comment[pt_BR]=Navegador de repositórios git
Comment[sv]=Git-arkivbläddrare
Comment[uk]=Засіб для перегляду сховищ Git
Comment[x-test]=xxgit repository browserxx
Comment[zh_CN]=Git 仓库浏览器
TryExec=qgit
Exec=cd %f && qgit
StartupNotify=true
Terminal=false
Type=Application
Categories=Qt;Development;RevisionControl;
