# For KMoreTools: Fixes Exec line
#
# TODO: The icon qgit.png is installed somewhere with qgit but not specified (and not reachable
# in .desktop file This should be fixed upstream.

[Desktop Entry]
X-SuSE-translate=true
Name=QGit
GenericName=QGit
Comment=git repository browser
TryExec=qgit
Exec=cd %f && qgit
StartupNotify=true
Terminal=false
Type=Application
Categories=Qt;Development;RevisionControl;
