[Desktop Entry]
Type=Application
Name=SimpleScreenRecorder
Name[ca]=SimpleScreenRecorder
Name[ca@valencia]=SimpleScreenRecorder
Name[eu]=SimpleScreenRecorder
Name[it]=SimpleScreenRecorder
Name[nl]=SimpleScreenRecorder
Name[pt]=SimpleScreenRecorder
Name[sr]=Једноставни снимач екрана
Name[sr@ijekavian]=Једноставни снимач екрана
Name[sr@ijekavianlatin]=Jednostavni snimač ekrana
Name[sr@latin]=Jednostavni snimač ekrana
Name[sv]=SimpleScreenRecorder
Name[uk]=SimpleScreenRecorder
Name[x-test]=xxSimpleScreenRecorderxx
Comment=A feature-rich screen recorder that supports X11 and OpenGL
Comment[ca]=Un enregistrador de pantalla ric en funcionalitats que admet X11 i OpenGL
Comment[ca@valencia]=Un gravadora de pantalla ric en funcionalitats que admet X11 i OpenGL
Comment[eu]=X11 eta OpenGL onartzen dituen pantaila grabatzaile bat ezaugarritan aberatsa
Comment[it]=Un registratore dello schermo ricco di funzionalità che supporta X11 e OpenGL
Comment[nl]=Een functierijke schermopnemer die X11 en OpenGL ondersteunt
Comment[pt]=Um gravador de ecrã rico em funcionalidades, que suporta X11 e OpenGL
Comment[sr]=Снимач екрана богат могућностима са подршком за Икс11 и опенГЛ
Comment[sr@ijekavian]=Снимач екрана богат могућностима са подршком за Икс11 и опенГЛ
Comment[sr@ijekavianlatin]=Snimač ekrana bogat mogućnostima sa podrškom za X11 i OpenGL
Comment[sr@latin]=Snimač ekrana bogat mogućnostima sa podrškom za X11 i OpenGL
Comment[sv]=En funktionsrik skärminspelare som stöder X11 och OpenGL
Comment[uk]=Засіб запису з екрана із широкими можливостями, передбачено підтримку X11 та OpenGL
Comment[x-test]=xxA feature-rich screen recorder that supports X11 and OpenGLxx
Icon=simplescreenrecorder
Exec=simplescreenrecorder --logfile
Terminal=false
Categories=AudioVideo;Video;Recorder;Qt;
Keywords=screen recorder;screencast;live streaming;
Keywords[ca]=enregistrador de pantalla;vídeos de captura de pantalla;reproducció en temps real;
Keywords[ca@valencia]=gravadora de pantalla;vídeos de captura de pantalla;reproducció en temps real;
Keywords[eu]=pantaila grabatzailea;screencast;pantaila-grabaketa;live streaming;datu-korrontea;
Keywords[it]=registratore dello schermo;trasmissione dello schermo; trasmissione in diretta;
Keywords[nl]=schermopnemer;schermcast;live streaming;
Keywords[pt]=gravador do ecrã;transmissão do ecrã;transmissão em directo;
Keywords[sr]=screen recorder;screencast;live streaming;снимач екрана;уживо емитовање;
Keywords[sr@ijekavian]=screen recorder;screencast;live streaming;снимач екрана;уживо емитовање;
Keywords[sr@ijekavianlatin]=screen recorder;screencast;live streaming;snimač ekrana;uživo emitovanje;
Keywords[sr@latin]=screen recorder;screencast;live streaming;snimač ekrana;uživo emitovanje;
Keywords[sv]=skärminspelare;skärmprogram;direktsända strömmar;
Keywords[uk]=screen recorder;screencast;live streaming;запис;екран;скрінкаст;стрім;
Keywords[x-test]=xxscreen recorderxx;xxscreencastxx;xxlive streamingxx;

