[Desktop Entry]
Comment=screencast
Comment[ca]=vídeo de captura de pantalla
Comment[ca@valencia]=vídeo de captura de pantalla
Comment[de]=Bildschirmaufnahme
Comment[en_GB]=screencast
Comment[es]=screencast
Comment[fi]=screencast
Comment[id]=screencast
Comment[it]=trasmissione dello schermo
Comment[nl]=schermopname
Comment[nn]=skjermsending
Comment[pl]=screencast
Comment[pt]=transmissão do ecrã
Comment[sv]=skärminspelning
Comment[uk]=скрінкаст
Comment[x-test]=xxscreencastxx
Comment[zh_CN]=屏幕录像
Comment[zh_TW]=screencast
Exec=vokoscreen
Icon=vokoscreen
Name=vokoscreen
Name[ca]=vokoscreen
Name[ca@valencia]=vokoscreen
Name[de]=vokoscreen
Name[en_GB]=vokoscreen
Name[es]=vokoscreen
Name[fi]=vokoscreen
Name[id]=vokoscreen
Name[it]=vokoscreen
Name[nl]=vokoscreen
Name[nn]=vokoscreen
Name[pl]=vokoscreen
Name[pt]=vokoscreen
Name[sv]=vokoscreen
Name[uk]=vokoscreen
Name[x-test]=xxvokoscreenxx
Name[zh_CN]=Vokoscreen
Name[zh_TW]=vokoscreen
StartupNotify=false
Terminal=false
Type=Application
Categories=AudioVideo;Recorder;
Keywords=Audio;Video;Recorder;Screencast;
Keywords[ca]=Àudio;Vídeo;Enregistrador;Vídeo de captura de pantalla;
Keywords[ca@valencia]=Àudio;Vídeo;Enregistrador;Vídeo de captura de pantalla;
Keywords[de]=Audio;Video;Recorder;Aufnahme;aufnehmen;Screencast;
Keywords[en_GB]=Audio;Video;Recorder;Screencast;
Keywords[es]=Sonido;Vídeo;Grabador;Screencast;
Keywords[fi]=Ääni;Video;Tallennin;Screencast;
Keywords[id]=Audio;Video;Recorder;Screencast;
Keywords[it]=Audio;Video;Registratore;Trasmissione dello schermo;
Keywords[nl]=Audio;Video;Opnameapparaat;Schermopname
Keywords[nn]=lyd;video;film;opptak;skjermsending;
Keywords[pl]=Dźwięk;Obraz;Audio;Video;Nagrywanie;Screencast;
Keywords[pt]=Áudio;Vídeo;Gravador;Transmissão do Ecrã;
Keywords[sv]=Ljud;Video;Inspelning;Skärminspelning;
Keywords[uk]=Audio;Video;Recorder;Screencast;звук;відео;записувач;скрінкаст;
Keywords[x-test]=xxAudioxx;xxVideoxx;xxRecorderxx;xxScreencastxx;
Keywords[zh_CN]=音频;视频;录音机;屏幕录像;
Keywords[zh_TW]=音訊;視訊;錄製程式;Screencast;
