[Desktop Entry]
Comment=screencast
Comment[az]=Ekrandakı videonun translyasiyası
Comment[ca]=vídeo de captura de pantalla
Comment[ca@valencia]=vídeo de captura de pantalla
Comment[da]=skærmoptagelse
Comment[de]=Bildschirmaufnahme
Comment[en_GB]=screencast
Comment[es]=screencast
Comment[et]=ekraaniülekanne
Comment[eu]=screencast (pantaila grabaketa)
Comment[fi]=screencast
Comment[fr]=screencast
Comment[gl]=screencast
Comment[hu]=képernyőátjátszás
Comment[id]=screencast
Comment[it]=trasmissione dello schermo
Comment[ko]=스크린캐스트
Comment[lt]=ekrano įrašymas
Comment[nl]=schermopname
Comment[nn]=skjermsending
Comment[pl]=screencast
Comment[pt]=transmissão do ecrã
Comment[pt_BR]=screencast
Comment[ru]=Трансляция видео с экрана
Comment[sk]=screencast
Comment[sl]=video zajem zaslona
Comment[sv]=skärminspelning
Comment[tg]=screencast
Comment[uk]=скрінкаст
Comment[x-test]=xxscreencastxx
Comment[zh_CN]=屏幕录像
Comment[zh_TW]=screencast
Exec=vokoscreenNG
Icon=vokoscreenNG
Name=VokoscreenNG
Name[ast]=VokoscreenNG
Name[az]=VokoscreenNG
Name[ca]=VokoscreenNG
Name[cs]=VokoscreenNG
Name[da]=VokoscreenNG
Name[de]=VokoscreenNG
Name[en_GB]=VokoscreenNG
Name[es]=VokoscreenNG
Name[et]=VokoscreenNG
Name[eu]=VokoscreenNG
Name[fi]=VokoscreenNG
Name[fr]=VokoscreenNG
Name[id]=VokoscreenNG
Name[it]=VokoscreenNG
Name[ko]=VokoscreenNG
Name[lt]=VokoscreenNG
Name[nl]=VokoscreenNG
Name[nn]=VokoscreenNG
Name[pl]=VokoscreenNG
Name[pt]=VokoscreenNG
Name[pt_BR]=VokoscreenNG
Name[ro]=VokoscreenNG
Name[ru]=VokoscreenNG
Name[sl]=VokoscreenNG
Name[sv]=VokoscreenNG
Name[uk]=VokoscreenNG
Name[x-test]=xxVokoscreenNGxx
Name[zh_CN]=VokoscreenNG
Name[zh_TW]=VokoscreenNG
StartupNotify=false
Terminal=false
Type=Application
Categories=AudioVideo;Recorder;
Keywords=Audio;Video;Recorder;Screencast;
Keywords[az]=Audio;Video;Recorder;Screencast;ekran yazıcı;translyasiya
Keywords[ca]=Àudio;Vídeo;Enregistrador;Vídeo de captura de pantalla;
Keywords[ca@valencia]=Àudio;Vídeo;Enregistrador;Vídeo de captura de pantalla;
Keywords[da]=Lyd;Video;Optager;Screencast;Skærm;
Keywords[de]=Audio;Video;Recorder;Aufnahme;aufnehmen;Screencast;
Keywords[en_GB]=Audio;Video;Recorder;Screencast;
Keywords[es]=Sonido;Vídeo;Grabador;Screencast;
Keywords[et]=Audio;Video;Salvestaja;Ekraanijäädvustaja;
Keywords[eu]=Audio;Bideo;Grabatzaile;pantaila grabaketa;Screencast;
Keywords[fi]=Ääni;Video;Tallennin;Screencast;
Keywords[fr]=Audio;Vidéo;Enregistrement;Screencast;
Keywords[gl]=son;vídeo;gravadora;emisión de pantalla;
Keywords[hu]=Hang;Videó;Felvevő;Képernyőátjátszás;
Keywords[id]=Audio;Video;Recorder;Screencast;
Keywords[it]=Audio;Video;Registratore;Trasmissione dello schermo;
Keywords[ko]=Audio;Video;Recorder;Screencast;오디오;비디오;녹음;녹화;스크린캐스트;방송;
Keywords[lt]=Garsas;Vaizdas;Audio;Video;Rašytuvas;Rasytuvas;Įrašymo programa;Irasymo programa;Įrašymas;Irasymas;Ekrano įrašymas;Ekrano irasymas;
Keywords[nl]=Audio;Video;Opnameapparaat;Schermopname;
Keywords[nn]=lyd;video;film;opptak;skjermsending;
Keywords[pl]=Dźwięk;Obraz;Audio;Video;Nagrywanie;Screencast;
Keywords[pt]=Áudio;Vídeo;Gravador;Transmissão do Ecrã;
Keywords[pt_BR]=Áudio;Vídeo;Gravador;Screencast;
Keywords[ru]=Audio;Video;Recorder;Screencast;аудио;видео;запись экрана;трансляция;
Keywords[sk]=Zvuk;Video;Nahrávač;Screencast;
Keywords[sl]=Audio;Video;snemanje;video zajemanje zaslona;
Keywords[sv]=Ljud;Video;Inspelning;Skärminspelning;
Keywords[tg]=Аудио;Видео;Сабткунак;Ҷараёни экран;
Keywords[uk]=Audio;Video;Recorder;Screencast;звук;відео;записувач;скрінкаст;
Keywords[x-test]=xxAudioxx;xxVideoxx;xxRecorderxx;xxScreencastxx;
Keywords[zh_CN]=Audio;Video;Recorder;Screencast;音频;视频;录音机;屏幕录像;
Keywords[zh_TW]=音訊;視訊;錄製程式;Screencast;
