[Desktop Entry]
Comment=screencast
Comment[ca]=vídeo de captura de pantalla
Comment[ca@valencia]=vídeo de captura de pantalla
Comment[it]=trasmissione dello schermo
Comment[nl]=schermopname
Comment[nn]=skjermsending
Comment[pt]=transmissão do ecrã
Comment[sv]=skärminspelning
Comment[uk]=скрінкаст
Comment[x-test]=xxscreencastxx
Exec=vokoscreen
Icon=vokoscreen
Name=vokoscreen
Name[ca]=vokoscreen
Name[ca@valencia]=vokoscreen
Name[it]=vokoscreen
Name[nl]=vokoscreen
Name[nn]=vokoscreen
Name[pt]=vokoscreen
Name[sv]=vokoscreen
Name[uk]=vokoscreen
Name[x-test]=xxvokoscreenxx
StartupNotify=false
Terminal=false
Type=Application
Categories=AudioVideo;Recorder;
Keywords=Audio;Video;Recorder;Screencast;
Keywords[ca]=Àudio;Vídeo;Enregistrador;Vídeo de captura de pantalla;
Keywords[ca@valencia]=Àudio;Vídeo;Gravadora;Vídeo de captura de pantalla;
Keywords[it]=Audio;Video;Registratore;Trasmissione dello schermo;
Keywords[nl]=Audio;Video;Opnameapparaat;Schermopname
Keywords[nn]=lyd;video;film;opptak;skjermsending;
Keywords[pt]=Áudio;Vídeo;Gravador;Transmissão do Ecrã;
Keywords[sv]=Ljud;Video;Inspelning;Skärminspelning;
Keywords[uk]=Audio;Video;Recorder;Screencast;звук;відео;записувач;скрінкаст;
Keywords[x-test]=xxAudioxx;xxVideoxx;xxRecorderxx;xxScreencastxx;
