[Desktop Entry]
X-SuSE-translate=true
Name=Task Manager
Name[ca]=Gestor de tasques
Name[es]=Gestor de tareas
Name[gl]=Xestor de tarefas
Name[nl]=Takenbeheer
Name[pl]=Zarządzanie zadaniami
Name[pt]=Gestor de Tarefas
Name[pt_BR]=Gerenciador de tarefas
Name[sv]=Aktivitetshanterare
Name[uk]=Засіб керування завданнями
Name[x-test]=xxTask Managerxx
Comment=Easy to use task manager
Comment[ca]=Gestor de tasques d'ús fàcil
Comment[es]=Gestor de tareas fácil de usar
Comment[gl]=Xestor de tarefas fácil de usar.
Comment[nl]=Gemakkelijk te gebruiken takenbeheerder
Comment[pl]=Łatwe zarządzanie zadaniami
Comment[pt]=Gestor de tarefas simples de usar
Comment[pt_BR]=Gerenciador de tarefas simples de usar
Comment[sv]=Lättanvänd aktivitetshanterare
Comment[uk]=Проста у користуванні програма для керування завданнями
Comment[x-test]=xxEasy to use task managerxx
GenericName=Task Manager
GenericName[ca]=Gestor de tasques
GenericName[es]=Gestor de tareas
GenericName[gl]=Xestor de tarefas
GenericName[nl]=Takenbeheer
GenericName[pl]=Zarządzanie zadaniami
GenericName[pt]=Gestor de Tarefas
GenericName[pt_BR]=Gerenciador de tarefas
GenericName[sv]=Aktivitetshanterare
GenericName[uk]=Засіб керування завданнями
GenericName[x-test]=xxTask Managerxx
Exec=xfce4-taskmanager
Icon=utilities-system-monitor
Terminal=false
StartupNotify=true
Type=Application
Categories=GTK;System;Monitor;

